@color-black: #212121;
@color-white: #ffffff;
@font-size: 15.1px;
@font-body: Roboto;

.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
    padding-left: 25px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="radio"],
.checkbox-inline input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: -25px;
    margin-right: 12px;
    margin-top: 4px;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    position: relative;
    margin-top: 6px;
    margin-right: 4px;
    vertical-align: top;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
    outline: none;
}

input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before,
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}

input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-image: url(/icons/ic_checked.svg);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
    position: relative;
    top: -3px;
    border: 2px solid #191919;
}

input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
    background-color: #bbbbbb;
}

input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
    border-color: #191919;
}

input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:after,
input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:checked:after {
    border-color: #bbbbbb;
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: relative;
    margin-top: 6px;
    margin-right: 4px;
    vertical-align: top;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]:before,
.checkbox input[type="checkbox"]:before,
.checkbox-inline input[type="checkbox"]:before,
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}

input[type="checkbox"]:before,
.checkbox input[type="checkbox"]:before,
.checkbox-inline input[type="checkbox"]:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-image: url(/icons/ic_checked.svg);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
    position: relative;
    top: -3px;
    border: 2px solid #191919;
}

input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

input[type="checkbox"]:disabled:checked:before,
.checkbox input[type="checkbox"]:disabled:checked:before,
.checkbox-inline input[type="checkbox"]:disabled:checked:before {
    background-color: #bbbbbb;
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
    border-color: #191919;
}

input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after,
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
    border-color: #bbbbbb;
}


// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: 12px;
//     _background-color: #f0f0f0;
//     opacity: 0.2;
// }

// ::-webkit-scrollbar-thumb {
//     border-radius: 5px;
//     border: 4px solid rgba(255, 255, 255, 0);
//     background-clip: content-box;
//     _background-color: #bfbfbf;
//     background-color: #ba7742;
//     opacity: 0.2;
// }

// ::-webkit-scrollbar-thumb:hover {
//     border-radius: 5px;
//     border: 4px solid rgba(255, 255, 255, 0);
//     background-clip: content-box;
//     background-color: #ba7742;
// }

// ::-webkit-scrollbar-corner {
//     background-color: #e6e6e6;
// }


*:focus {
    outline: none !important;
}

.color-white {
    color: @color-white;
}

.color-black {
    color: @color-black;
}

.text-black {
    color: @color-black !important;
}

label.error {
    color: red;
    padding: 10px 0px;
    font-family: ITCAvantGardeStd-Bk;
}


.placeholder() {
    font-family: LuckiestGuy;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
}

input, textarea, button {
    outline: none !important;
    outline: 0 !important;
    outline-style: none !important;
    box-shadow: inset;
}

.form-group {
    height: 54px;
}

.form-control {
    .placeholder();
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: solid 2px #590909;
    height: 34px;
    padding-bottom: 0px;
    padding-top: 0;
    color: #590909;
    -webkit-text-fill-color: #bc6c40;
}


.form-control[disabled] {
    .placeholder();
    color: #bdbdbd;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: solid 2px #590909;
    margin-top: 35px;
    height: 34px;
    padding-bottom: 8px;
    padding-top: 0;
    cursor: not-allowed;
}


.form-control:focus {
    border-bottom: solid 2px #efa138;
    box-shadow: none !important;
}

.form-control.error {
    border-bottom: solid 2px #da181f;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    .placeholder();
    color: #bc6c40 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    .placeholder();
    color: #bc6c40 !important;
}

:-ms-input-placeholder { /* IE 10+ */
    .placeholder();
    color: #bc6c40 !important;
}

:-moz-placeholder { /* Firefox 18- */
    .placeholder();
    color: #bc6c40 !important;
}

.custom-file-input {
    color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
}

.lbl-select-file {
    outline: none;
    cursor: pointer;
    width: 152px;
    height: 50px;
    background-image: url(../../icons/buttons/bt_selectFile.png);
    position: absolute;
    top: 38%;
    left: 19px;
    color: transparent;
}

.lbl-select-file:hover {
    background-image: url('../../icons/buttons/bt_selectFile_pressed.png');
}


.file-upload-preview {
    width: 193px;
    height: 193px;
    border: dotted 3px #7f1d01;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.custom-file-input-square {
    color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
}

.lbl-select-file-square {
    outline: none;
    cursor: pointer;
    width: 152px;
    height: 50px;
    background-image: url(../../icons/buttons/bt_selectFile.png);
    position: absolute;
    top: 39%;
    left: 19px;
    color: transparent;
}

.lbl-select-file-square:hover {
    background-image: url('../../icons/buttons/bt_selectFile_pressed.png');
}


.file-upload-preview-square {
width: 195px;
    height: 195px;
    border: dotted 3px #7f1d01;
    border-radius: 0;
    position: relative;
    float: left;
    margin-top: 27px;
    margin-left: 30px;
}


.error-fixed-bottom {
    height: 125px;
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    z-index: 1030;
    background-color: #2b1212;
    padding-top: 51px;
    padding-left: 61px;
    padding-right: 59px;
    transition: opacity 600ms ease-in-out;
    opacity: 0;

    .icon {
        margin-top: -12px;
        margin-right: 22px;
        width: 60px;
    }

    .msg {
        font-family: LuckiestGuy;
        font-size: 18px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #bc6c40;
        line-height: 30px;
    }

    .btn-dismiss {
        width: 116px;
        height: 55px;
        border: none;
        background-color: transparent;
        background-image: url(../../icons/buttons/bt_OK.png);
        background-repeat: no-repeat;
        color: transparent;
        margin-top: -14px;
    }

    .btn-dismiss[disabled] {
        background-image: url('../../icons/buttons/bt_OK_disabled.png');
        cursor: not-allowed;
    }

    .btn-dismiss:hover, .btn-dismiss:active {
        background-image: url('../../icons/buttons/bt_OK_pressed.png');
    }
}


@media only screen and (max-width : 767px) {
    .error-fixed-bottom {
        padding-top: 45px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .error-fixed-bottom .msg {
        font-size: 14px;
    }

    .error-fixed-bottom .icon {
        margin-top: 0;
        margin-right: 22px;
        width: 40px;
    }

    .error-fixed-bottom .btn-dismiss {
        position: absolute;
        right: 15px;
        top: 10px;
        width: 100px;
    }
}
