﻿header {
	height: 575px;
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
}

.container {
	width: 765px;
}

.navbar-header {
	margin-left: -60px !important;
	.navbar-brand {
		padding: 62px 20px;
		margin-top: -30px;
		>img {
			width: 264px;
		}
	}
	.img-head {
		margin-top: 190px;
		margin-left: 18px;
	}
}

@media only screen and (max-width: 1023px) {
	.navbar-header {
		margin-left: -3px !important;
		.navbar-brand {
			padding: 62px 0;
			margin-top: -24px;
			margin-left: -20px;
			>img {
				margin-left: -4px;
			}
		}
		.img-head {
			margin-top: 192px;
			margin-left: -18px;
		}
	}
	.container {
		width: 690px;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-header {
		margin-left: -11px !important;
		.navbar-brand {
			padding: 45px 0;
			margin-top: -15px;
			margin-left: -1px;
			>img {
				margin-left: -4px;
				height: 30px;
				width: auto;
			}
		}
		.img-head {
			margin-top: 109px;
			margin-left: 0px;
			img {
				width: 90px;
			}
		}
	}
	.container {
		width: 100%;
	}
}
