.navbar-brand {
    padding: 52px 11px;    
}

.navbar-right {
    margin-top: 57px;
}

/* 1440px - <1920px */
@media only screen and (max-width : 1919px) {
}


/* 1024px - <1439px */
@media only screen and (max-width : 1439px) {
}


/* 768px - <1024px */
@media only screen and (max-width : 1023px) {
    .navbar-brand {
        padding: 58px 4px;
    }
}

/* <768px */
@media only screen and (max-width : 767px) {
    .navbar-brand {
        padding: 30px 0;

        img {
            height: 30px;
        }
    }

    .navbar-right {
        margin-top: 12px;
        margin-right: -32px;
        float: right;
    }
}
