 @import "variables.less";
 @import "navbar.less";
 @import "components.less";
 @import "less-space.less";
 @import "bootstrap-xl-xxl.less";
 /* Global Styles */

 html,
 body {
     height: 100%;
     background-color: #f0f0e8;
     font-family: Roboto;
     font-size: 15.1px;
     line-height: 1.44;
     background-image: linear-gradient(to bottom, #0fe0c7, #0170fb);
     background-repeat: no-repeat;
     overflow-x: hidden;
 }

 body {
     padding: 30px 30px 0 30px;
 }

 h4 {
     font-family: Roboto;
     font-size: 22.6px;
     font-weight: 900;
     text-align: center;
     color: #590909;
 }

 h3 {
     font-family: LuckiestGuy;
     font-size: 24px;
     line-height: 0.75;
     text-align: center;
     color: #ffffff;
 }

 .nano {
     overflow: auto;
 }

 .nano>.nano-content {
     position: inherit;
 }

 .content {
     opacity: 0.8;
     font-family: Roboto;
     font-size: 15.1px;
     line-height: 1.44;
     text-align: left;
     color: #590909;
 }

 p {
     margin: 0 0 16px;
 }
 /* >1921px */

 .container {
     padding-left: 29.6px;
     padding-right: 29.6px;
 }
 /* buttons */

 .btn-submit-form {
     width: 195px;
     height: 55px;
     border: none;
     background-color: transparent;
     background-image: url('../../icons/buttons/bt_submit.png');
     background-repeat: no-repeat;
 }

 .btn-submit-form[disabled] {
     background-image: url('../../icons/buttons/bt_submit_disabled.png');
     cursor: not-allowed;
 }

 .btn-submit-form:hover,
 .btn-submit-form:active {
     background-image: url('../../icons/buttons/bt_submit_pressed.png');
 }

 .btn-submit-form-lg {
     width: 224px;
     height: 66px;
     border: none;
     background-color: transparent;
     background-image: url('../../icons/buttons/bt_submit_large.png');
     background-repeat: no-repeat;
 }

 .btn-submit-form-lg[disabled] {
     background-image: url('../../icons/buttons/bt_submit_large_disabled.png');
     cursor: not-allowed;
 }

 .btn-submit-form-lg:hover,
 .btn-submit-form-lg:active {
     background-image: url('../../icons/buttons/bt_submit_large_pressed.png');
     background-position: 2px 0;
 }
 /*button back to home*/

 .btn-back {
     width: 195px;
     height: 55px;
     border: none;
     background-color: transparent;
     background-image: url('../../icons/buttons/bt_backtohome.png');
     background-repeat: no-repeat;
 }

 .btn-back[disabled] {
     background-image: url('../../icons/buttons/bt_backtohome_disabled.png');
     cursor: not-allowed;
 }

 .btn-back:hover,
 .btn-back:active {
     background-image: url('../../icons/buttons/bt_backtohome_pressed.png');
 }

 .custom-file-upload {
     .choose-file {
         visibility: hidden;
     }
     .lbl-choose-file {
         width: 205px;
         height: 50px;
         cursor: pointer;
         background-image: url('../../icons/buttons/bt_selectFile.png');
     }
     .lbl-choose-file[disabled] {
         width: 205px;
         height: 50px;
         cursor: not-allowed;
         background-image: url('../../icons/buttons/bt_selectFile_disabled.png');
     }
 }
 /* 1440px - <1920px */

 @media only screen and (max-width: 1919px) {}
 /* 1024px - <1439px */

 @media only screen and (max-width: 1439px) {}
 /* 768px - <1024px */

 @media only screen and (max-width: 1023px) {
     body {
         padding-top: 24px;
         padding-left: 24px;
         padding-right: 24px;
     }
 }
 /* <768px */

 @media only screen and (max-width: 767px) {
     body {
         padding-top: 0;
         padding-left: 0;
         padding-right: 0;
     }
 }
 /** initial setup **/

 .nano {
     position: relative;
     width: 100%;
     height: 100%;
     overflow: hidden;
 }

 .nano>.nano-content {
     position: absolute;
     overflow: scroll;
     overflow-x: hidden;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
 }

 .nano>.nano-content:focus {
     outline: thin dotted;
 }

 .nano>.nano-content::-webkit-scrollbar {
     display: none;
 }

 .has-scrollbar>.nano-content::-webkit-scrollbar {
     display: block;
 }

 .nano>.nano-pane {
     background: rgba(0, 0, 0, 0.1);
     position: absolute;
     width: 7px;
     right: 0;
     top: 0;
     bottom: 0;
     visibility: hidden\9;
     /* Target only IE7 and IE8 with this hack */
     opacity: .01;
     -webkit-transition: .2s;
     -moz-transition: .2s;
     -o-transition: .2s;
     transition: .2s;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px;
 }

 .nano>.nano-pane>.nano-slider {
     background: rgba(0, 0, 0, 0.1);
     background: #ba7742;
     position: relative;
     margin: 0 1px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;
 }

 .nano:hover>.nano-pane,
 .nano-pane.active,
 .nano-pane.flashed {
     visibility: visible\9;
     /* Target only IE7 and IE8 with this hack */
     opacity: 0.99;
 }
