<!-- Header -->
    <header>
        <nav class="navbar" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img src="/assets/images/logo.png" alt="Logo">
                    </a>
                    <div class="img-head"><img src="/assets/images/1_2_head.png" /></div>
                </div>
            </div>
            <!-- /.container -->
        </nav>
    </header>
    <!-- Section One -->
    <section class="container sign-up-box">
        <div class="row">
            <div class="div-left col-md-6">
                <img src="/assets/images/businessTitle.png" />
                <p class="text-center">
                    Far far away, behind the word mountains, far from the countries Vokalia
                </p>
                <a href="/sign-up-business" class="btn-sign-up-link"></a>
            </div>
            <div class="divide-line visible-xs visible-sm"><img src="/assets/images/divideLine.png" /></div>
            <div class="div-right col-md-6">
                <img src="/assets/images/schoolTitle.png" />
                <p class="text-center">
                    Far far away, behind the word mountains, far from the countries Vokalia
                </p>
                <a href="/sign-up-school" class="btn-sign-up-link"></a>
            </div>
        </div>
    </section>
    <!-- Section One -->
    <!-- Footer -->