html {
    height: 100%;
}
body {
    height: 100%;
    overflow: hidden;
}

@import "../../assets/css/less/header.less";
header {
    background-image: url('/assets/images/header/1920_1_2_header.png');
}

.sign-up-box {
    background-image: url('/assets/images/bg_map_sign-up.png');
    width: 1117px;
    height: 506px;
    margin-top: -289px;
    p {
        opacity: 0.8;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        color: #590909;
        margin-top: 13px;
        padding: 0 10px;
        padding-bottom: 42px;
    }
    .div-left {
        text-align: center;
        padding-top: 148px;
        padding-left: 71px;
        position: relative;
    }
    .div-left::after {
        content: '';
        background-image: url('/assets/images/divide.png');
        background-repeat: no-repeat;
        width: 4px;
        height: 405px;
        position: absolute;
        top: 66px;
        right: 0;
    }
    .div-right {
        text-align: center;
        padding-top: 148px;
        padding-right: 79px;
    }
    .btn-sign-up-link {
        background-image: url('/assets/icons/buttons/bt_signup_brown.png');
        background-repeat: no-repeat;
        padding: 15px 114px;
    }
    .btn-sign-up-link:hover {
        background-image: url('/assets/icons/buttons/bt_signup_brown_pressed.png');
        background-repeat: no-repeat;
        padding: 15px 114px;
    }
    .btn-sign-up-link[disabled] {
        background-image: url('/assets/icons/buttons/bt_signup_brown_disabled.png');
        background-repeat: no-repeat;
        padding: 15px 114px;
    }
}


/* 1440px - <1920px */

@media only screen and (max-width: 1919px) {}


/* 1200px - 1440px */

@media only screen and (max-width: 1440px) {
    header {
        background-image: url('/assets/images/header/1440_1_2_header.png');
    }
}


/* 1024px - <1200px */

@media only screen and (max-width: 1199px) {
    .sign-up-box {
        background-image: url(/assets/images/bg_map_sign-up.png);
        width: 100%;
        height: 506px;
        margin-top: -289px;
        background-size: contain;
        background-repeat: no-repeat;
        .div-left {
            padding-top: 99px;
            padding-left: -2px;
        }
        .div-right {
            padding-top: 99px;
            padding-right: -2px;
        }
    }
}


/* 768px - <1024px */

@media only screen and (max-width: 1023px) {
    body {
        overflow: auto;
        height: auto;
        overflow: auto;
        padding-bottom: 56px;
    }
    header {
        background-image: url('/assets/images/header/768_1_2_header.png');
    }
    .sign-up-box {
        background-image: url('/assets/images/bg-sign-up-box-768.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 692px;
        min-height: 506px;
        height: auto;
        margin-top: -291px;
        padding: 0;
        padding-bottom: 140px;
        p {
            margin-top: 13px;
            padding: 0 170px;
            padding-bottom: 42px;
        }
        .divide-line {
            margin-top: 61px;
            margin-left: auto;
            margin-right: auto;
            width: 372px;
        }
        .div-left {
            text-align: center;
            padding-top: 105px;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            >img {
                height: 28px;
            }
        }
        .div-left::after {
            display: none;
        }
        .div-right {
            padding-top: 67px;
            padding-right: 0;
            padding-left: 0;
            >img {
                height: 28px;
            }
        }
    }
}


/* <768px */

@media only screen and (max-width: 767px) {
    body {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        overflow: auto;
        height: auto;
        overflow: auto;
        padding-bottom: 14px;
    }
    header {
        height: 200px;
        background-image: url('/assets/images/header/320_1_2_header.png');
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        nav.navbar .container {
            width: 100%;
        }
    }
    .sign-up-box {
        background-image: url('/assets/images/bg-box-sign-up-320.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 506px;
        height: auto;
        margin-top: -42px;
        padding: 0;
        padding-bottom: 68px;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        p {
            margin-top: 15px;
            padding: 0 33px;
            padding-bottom: 60px;
            font-size: 14px;
            line-height: 1.6;
        }
        .div-left {
            text-align: center;
            padding-top: 63px;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            >img {
                height: 21px;
            }
        }
        .div-left::after {
            display: none;
        }
        .div-right {
            padding-top: 51px;
            padding-right: 0;
            padding-left: 0;
            >img {
                height: 21px;
            }
        }
        .btn-sign-up-link {
            background-image: url('/assets/images/bt_signup.png');
            background-repeat: no-repeat;
            padding: 15px 114px;
        }
        .divide-line {
            width: auto;
            margin-top: 53px;
            >img {
                width: 100%;
            }
        }
    }
}