<header>
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <img src="/assets/images/logo.png" alt="Logo">
                </a>
                <div class="img-head"><img src="/assets/images/1_2_head.png" /></div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</header>
<!-- Section One -->
<section class="container sign-up-box-company">
    <form id="form-sigup-business" action="/" method="get">
        <div class="form-section-1">
            <img src="/assets/icons/ic_fail.svg" />
            <h3 class="text-center congratualtion-your text-uppercase">
                There was an error trying to set up your subscription. Please try again later.
            </h3>
            <button type="submit" class="btn-back"></button>
        </div>
    </form>
</section>