<section class="sec-contactus">
    <div class="contact-box"> <img class="heading-image" src="/assets/images/1_section5_head.png" />
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="myForm">
            <div class="form-group">
                <input type="text" class="form-control name" formControlName="name" placeholder="Name">
                <div class="text-error" *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">Please enter your name</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control email" formControlName="email" placeholder="Email">
                <div class="text-error" *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">Please enter your email address</div>
                <div class="text-error" *ngIf="myForm.controls['email'].hasError('email') && myForm.controls['email'].touched && !myForm.controls['email'].hasError('required')">Please correct your email address</div>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control phone" formControlName="phone" placeholder="Phone">
                <div class="text-error" *ngIf="myForm.controls['phone'].hasError('required') && myForm.controls['phone'].touched">Please enter your phone number</div>
                <div class="text-error" *ngIf="myForm.controls['phone'].hasError('tel') && myForm.controls['phone'].touched">Please correct your phone number</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control comments" formControlName="comment" placeholder="Comments">
                <div class="text-error" *ngIf="myForm.controls['comment'].hasError('required') && myForm.controls['comment'].touched">Please enter your comment</div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-submit-form" [disabled]="isSubmit"></button>
            </div>
          </form>        
    </div>
</section>
