@import "../../assets/css/less/header.less";
header {
	background-image: url('/assets/images/header/1920_2_header.png');
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
}


.sign-up-box-company {
	background-image: url('/assets/images/bg_map-sign-up-school.png');
	background-repeat: no-repeat;
	text-align: center;
	margin-top: -283px;
	padding: 102px 0px;
	padding-bottom: 66px;
	h3 {
		opacity: 0.8;
		font-family: Roboto;
		font-size: 16px;
		line-height: 1.6;
		text-align: center;
		color: #590909;
		margin-top: 7px;
		padding: 0 43px;
		margin-bottom: 52px;
	}
	.file-format {
		font-family: Roboto;
		font-size: 16px;
		text-align: center;
		color: #590909;
	}
	.form-group { 
        height: 58px;
    }
	.form-section-1 {
		padding: 0px 143px;
	}
	.form-section-2 {
		margin-top: 94px;
		height: 317px;
		h3 {
			margin-bottom: 4px;
			margin-top: 8px;
		}
		.text-error {
			margin-top: -12px;
			height: 30px;
			padding-top: 5px;
        }
	}
	.form-section-3 {
		margin-top: 102px;
		padding: 0 30px;
		h3 {
			margin-top: 12px;
			margin-bottom: 2px;
			padding: 0 114px;
		}
		.tab-upload-file {
			margin-top: -11px;
		}
		.file-format {
			margin-bottom: 0;
			margin-top: 27px;
		}
		.nav-tabs {
			border: none;
			margin-right: 15px;
		}
		.tab-content {
			border-radius: 5px;
			background-color: rgba(235, 211, 144, 0.6);
			box-shadow: 0 1px 8px 0 #ffffff, inset 0 3px 5px 0 rgba(78, 2, 2, 0.5);
			min-height: 470px;
			padding-top: 2px;
		}
		.file-upload-preview-square {
			padding-top: 24px;
		}
		.nav-tabs>li>a {
			opacity: 0.5;
			font-family: LuckiestGuy;
			font-size: 18px;
			letter-spacing: 0.5px;
			text-align: center;
			color: #bc6c40;
			border: none;
			border-bottom-color: transparent;
			border-radius: 5px 5px 0 0;
			margin-right: 0px;
			padding: 10px 16px;
		}
		.nav-tabs>li.active:after,
		.nav-tabs>li:hover :after {
			content: '';
			background: #f1dd97;
			width: 96%;
			height: 8px;
			left: 2px;
			bottom: -6px;
			position: absolute;
		}
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:focus,
		.nav-tabs>li.active>a:hover {
			opacity: 1;
			font-family: LuckiestGuy;
			font-size: 18px;
			letter-spacing: 0.5px;
			text-align: center;
			color: #bc6c40;
			background-color: rgba(235, 211, 144, 0.6);
			border: none;
			border-bottom-color: transparent;
			border-radius: 5px 5px 0 0;
			box-shadow: 0 1px 8px 0 #ffffff, inset 0 3px 5px 0 rgba(78, 2, 2, 0.5);
			padding: 10px 8px;
		}
		.nav-tabs>li>a:hover,
		.nav-tabs>li>a:focus,
		.nav-tabs>li>a:active {
			opacity: 1;
			font-family: LuckiestGuy;
			font-size: 18px;
			letter-spacing: 0.5px;
			text-align: center;
			color: #bc6c40;
			background-color: rgba(235, 211, 144, 0.6);
			border: none;
			border-bottom-color: transparent;
			border-radius: 5px 5px 0 0;
			box-shadow: 0 1px 8px 0 #ffffff, inset 0 3px 5px 0 rgba(78, 2, 2, 0.5);
		}
	}
	.btn-submit-form-lg {
		margin-top: 100px;
	}
}


/* >1921px */


/* 1440px - <1921px */

@media only screen and (max-width: 1921px) {}


/* 1024px - 1440px */

@media only screen and (max-width: 1440px) {
	header {
		background-image: url('/assets/images/header/1440_2_header.png');
	}
}


/* 768px - <1024px */

@media only screen and (max-width: 1023px) {
	header {
		background-image: url('/assets/images/2_1/2_1_header_768.png')
	}

	.sign-up-box-company {
		background-image: url('/assets/images/2-1-bg-map-768.png');
		padding: 101px 0px;
		margin-top: -277px;
		padding-bottom: 44px;
		.file-format {}
		.form-section-1 {
			padding: 0px 104px;
		}
		.form-section-2 {
			h3 {
				margin-bottom: 18px;
				margin-top: 12px;
			}
			.file-format {
				margin-top: 9px;
			}
		}
		.form-section-3 {
			margin-top: 103px;
			padding: 0 34px;
			h3 {
				margin-bottom: 20px;
				padding: 0 84px;
			}
			.file-format {
				margin-top: 33px;
				font-size: 16px;
			}
			.nav-tabs {
				margin-right: 27px;
			}
			.nav-tabs>li>a {
				padding: 10px 9px;
			}
			.file-upload-preview-square {
				margin-left: 9px;
				margin-bottom: 9px;
				margin-top: 0px;
			}
			.tab-upload-file {
				margin-top: -29px;
			}
			.tab-content {
				padding-top: 28px;
				min-height: 450px;
			}
		}
		.btn-submit-form-lg {
			margin-top: 114px;
		}
	}
}


/* <768px */

@media only screen and (max-width: 767px) {
	
	header {
		background-image: url('/assets/images/2-1-banner.png');
		background-size: cover;
		height: 200px;
	}
	.sign-up-box-company {
		background-image: url('/assets/images/1-2-bg-map-320.png');
		padding: 70px 15px;
		margin-top: -41px;
		background-size: cover;
		padding-bottom: 54px;
		.file-format {
			font-size: 11px;
		}
		h3 {
			font-size: 14px;
			padding: 0 0;
			line-height: 1.5;
			margin-top: 13px;
			margin-bottom: 0;
		}
		.heading-image {
			height: 20.6px;
		}
		.heading-image-mobile {
			margin: 0 auto;
		}
		.form-section-1 {
			padding: 0;
			h3 {
				margin-bottom: -18px;
			}
		}
		.form-section-2 {
			margin-top: 96px;
			h3 {
				margin-top: 11px;
				margin-bottom: 4px;
			}
			.file-upload-preview {
				margin-top: 33px;
			}
			.file-format {
				margin-top: 23px;
			}
		}
		.form-section-3 {
			margin-top: 109px;
			padding: 0 0px;
			h3 {
				margin-top: 17px;
				margin-bottom: 0px;
				padding-left: 0px;
				padding-right: 0px;
			}
			.file-format {
				margin-top: 22px;
				font-size: 14px;
			}
			.file-upload-preview-square {
				width: 249px;
				height: 249px;
				border: dotted 3px #7f1d01;
				border-radius: 0;
				position: relative;
				float: left;
				margin-top: 6px;
				margin-left: 21px;
			}
			.lbl-select-file-square {
				left: 46px;
			}
			.nav-tabs>li.active>a,
			.nav-tabs>li.active>a:focus,
			.nav-tabs>li.active>a:hover {
				font-size: 16px;
			}
			.nav-tabs>li.active:after,
			.nav-tabs>li:hover :after {
				content: '';
				width: 91%;
			}
			.nav-tabs {
				margin-right: 5px;
			}
			.nav-tabs>li>a {
				font-size: 16px;
				padding: 10px 9px;
			}
			.tab-content {
				display: table;
				width: 100%;
				padding-bottom: 14px;
				padding-top: 20px;
			}
			.tab-upload-file {
				margin-top: 6px;
			}
		}
		.form-control {
			font-size: 16px;
		}
		.btn-submit-form-lg {
			margin-top: 110px;
		}
		 ::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			font-size: 16px;
		}
		 ::-moz-placeholder {
			/* Firefox 19+ */
			font-size: 16px;
		}
		 :-ms-input-placeholder {
			/* IE 10+ */
			font-size: 16px;
		}
		 :-moz-placeholder {
			/* Firefox 18- */
			font-size: 16px;
		}
	}
}

@media only screen and (max-width: 320px) {
	.sign-up-box-company {
		background-size: auto;
	}
}

.detail-address
{
	display: none;
}
