<!-- Header -->
<header>
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                        <img src="assets/images/logo.png" alt="Logo">
                    </a>
                <div class="img-head"><img src="assets/images/1_2_head.png" /></div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</header>
<!-- Section One -->
<section class="container sign-up-box-company">
    <form id="form-sigup-school" novalidate (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <div class="form-section-1">
            <img class="heading-image hidden-xs" src="assets/images/01. SCHOOL Details.png" />
            <img class="heading-image-mobile visible-xs" src="assets/images/2-1-question1-320.png" />
            <h3 class="text-center">
                Far far away, behind the word mountains, far from the countries Vokalia
            </h3>
            <div class="form-group">
                <input type="text" class="form-control" id="schoolname" name="schoolname" placeholder="School Name" formControlName="name" autocomplete="off">
                <div class="text-error" *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">Please enter your name</div>
                <div class="text-error" *ngIf="myForm.controls['name'].hasError('businessExist') && myForm.controls['name'].touched">This business name is existing. Please enter another one</div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" autocomplete="off">
                <div class="text-error" *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">Please enter your email address</div>
                <div class="text-error" *ngIf="myForm.controls['email'].hasError('email') && myForm.controls['email'].touched && !myForm.controls['email'].hasError('required')">Please correct your email address</div>
                <div class="text-error" *ngIf="myForm.controls['email'].hasError('emailExist') && myForm.controls['email'].touched">This email address is existing. Please enter another one</div>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" id="phone" placeholder="Phone" formControlName="phone" autocomplete="off">
                <div class="text-error" *ngIf="myForm.controls['phone'].hasError('required') && myForm.controls['phone'].touched">Please enter your phone number</div>
                <div class="text-error" *ngIf="myForm.controls['phone'].hasError('tel') && myForm.controls['phone'].touched">Please correct your phone number</div>
                <div class="text-error" *ngIf="myForm.controls['phone'].hasError('phoneExist') && myForm.controls['phone'].touched">This phone number is existing. Please enter another one</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="location" placeholder="Location" formControlName="location">
                <div class="text-error" *ngIf="myForm.controls['location'].hasError('required') && myForm.controls['location'].touched">Please enter your location</div>
            </div>
        </div>
        <div class="form-section-2">
            <img class="heading-image hidden-xs" src="assets/images/02. SCHOOL LOGO.png" />
            <img class="heading-image-mobile visible-xs" src="assets/images/2-1-question2-320.png" />
            <h3 class="text-center">
                Upload your schools logo
            </h3>
            <div class="file-upload-preview" [ngClass]="{'file-error':!myForm.controls['logo'].valid && myForm.controls['logo'].touched}">
                <input type="file" id="file1" class="custom-file-input" formControlName="logo" (change)="checkFile($event)">
                <label for="file1" class="lbl-select-file">Select file</label>
                <div class="closeImg"></div>
            </div>
            <div class="text-error" *ngIf="myForm.controls['logo'].hasError('required') && myForm.controls['logo'].touched">Please upload your company logo</div>
            <div class="text-error" *ngIf="myForm.controls['logo'].hasError('maxsize') && myForm.controls['logo'].touched">Please upload file max 5m</div>
            <div class="text-error" *ngIf="myForm.controls['logo'].hasError('fomat') && myForm.controls['logo'].touched">Please upload file JPG, PNG</div>
            <p class="text-center file-format">
                JPG or PDF formats only | Max 5MB
            </p>
        </div>
        <div class="form-section-3">
            <img class="heading-image hidden-xs" src="assets/images/03. Your Tree.png" />
            <img class="heading-image-mobile visible-xs" src="assets/images/2-1-question3-320.png" />
            <h3 class="text-center">
                Upload 5 tree photos for each class from different angles. These photos will be used when people vote for the best trees.
            </h3>
            <div class="tab-upload-file">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs navbar-right" role="tablist">
                    <li role="presentation" class="active"><a href="#class1" aria-controls="home" role="tab" data-toggle="tab">
                            <span class="hidden-xs">Class 1</span>
                            <span class="visible-xs">C.1</span>
                        </a></li>
                    <li role="presentation"><a href="#class2" aria-controls="profile" role="tab" data-toggle="tab">
                           <span class="hidden-xs">Class 2</span>
                            <span class="visible-xs">C.2</span>
                        </a></li>
                    <li role="presentation"><a href="#class3" aria-controls="profile" role="tab" data-toggle="tab">
                             <span class="hidden-xs">Class 3</span>
                            <span class="visible-xs">C.3</span>
                        </a></li>
                    <li role="presentation"><a href="#class4" aria-controls="profile" role="tab" data-toggle="tab">
                            <span class="hidden-xs">Class 4</span>
                            <span class="visible-xs">C.4</span>
                        </a></li>
                    <li role="presentation"><a href="#class5" aria-controls="profile" role="tab" data-toggle="tab">
                            <span class="hidden-xs">Class 5</span>
                            <span class="visible-xs">C.5</span>                            
                        </a></li>
                    <li role="presentation"><a href="#class6" aria-controls="profile" role="tab" data-toggle="tab">
                          <span class="hidden-xs">Class 6</span>
                          <span class="visible-xs">C.6</span>
                        </a></li>
                    <li role="presentation"><a href="#class7" aria-controls="profile" role="tab" data-toggle="tab">
                            <span class="hidden-xs">Class 7</span>
                            <span class="visible-xs">C.7</span>
                        </a></li>
                </ul>
                <div class="clearfix"></div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="class1">
                        <div formArrayName="class1">
                            <div class="file-upload-preview-square" *ngFor="let item of myForm.controls.class1.controls; let i = index" [formGroupName]="i"
                                [ngClass]="{'file-error':!item.controls['file'].valid && item.controls['file'].touched}">
                                <input type="file" id="file_class1_{{i}}" class="custom-file-input-square" formControlName="file">
                                <label for="file_class1_{{i}}" class="lbl-select-file-square">Select file</label>
                                <div class="closeImg"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="class2">
                        <div formArrayName="class2">
                            <div class="file-upload-preview-square" *ngFor="let item of myForm.controls.class2.controls; let i = index" [formGroupName]="i"
                                [ngClass]="{'file-error':!item.controls['file'].valid && item.controls['file'].touched}">
                                <input type="file" id="file_class2_{{i}}" class="custom-file-input-square" formControlName="file">
                                <label for="file_class2_{{i}}" class="lbl-select-file-square">Select file</label>
                                <div class="closeImg"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="class3">
                        <div formArrayName="class3">
                            <div class="file-upload-preview-square" *ngFor="let item of myForm.controls.class3.controls; let i = index" [formGroupName]="i"
                                [ngClass]="{'file-error':!item.controls['file'].valid && item.controls['file'].touched}">
                                <input type="file" id="file_class3_{{i}}" class="custom-file-input-square" formControlName="file">
                                <label for="file_class3_{{i}}" class="lbl-select-file-square">Select file</label>
                                <div class="closeImg"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="class4">
                        <div formArrayName="class4">
                            <div class="file-upload-preview-square" *ngFor="let item of myForm.controls.class4.controls; let i = index" [formGroupName]="i"
                                [ngClass]="{'file-error':!item.controls['file'].valid && item.controls['file'].touched}">
                                <input type="file" id="file_class4_{{i}}" class="custom-file-input-square" formControlName="file">
                                <label for="file_class4_{{i}}" class="lbl-select-file-square">Select file</label>
                                <div class="closeImg"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="class5">
                        <div formArrayName="class5">
                            <div class="file-upload-preview-square" *ngFor="let item of myForm.controls.class5.controls; let i = index" [formGroupName]="i"
                                [ngClass]="{'file-error':!item.controls['file'].valid && item.controls['file'].touched}">
                                <input type="file" id="file_class5_{{i}}" class="custom-file-input-square" formControlName="file">
                                <label for="file_class5_{{i}}" class="lbl-select-file-square">Select file</label>
                                <div class="closeImg"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="class6">
                        <div formArrayName="class6">
                            <div class="file-upload-preview-square" *ngFor="let item of myForm.controls.class6.controls; let i = index" [formGroupName]="i"
                                [ngClass]="{'file-error':!item.controls['file'].valid && item.controls['file'].touched}">
                                <input type="file" id="file_class6_{{i}}" class="custom-file-input-square" formControlName="file">
                                <label for="file_class6_{{i}}" class="lbl-select-file-square">Select file</label>
                                <div class="closeImg"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="class7">
                        <div formArrayName="class7">
                            <div class="file-upload-preview-square" *ngFor="let item of myForm.controls.class7.controls; let i = index" [formGroupName]="i"
                                [ngClass]="{'file-error':!item.controls['file'].valid && item.controls['file'].touched}">
                                <input type="file" id="file_class7_{{i}}" class="custom-file-input-square" formControlName="file">
                                <label for="file_class7_{{i}}" class="lbl-select-file-square">Select file</label>
                                <div class="closeImg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <p class="text-center file-format">
                JPG or PDF formats only | Max 5MB
            </p>
        </div>
        <button type="submit" [disabled]="isSubmit" class="btn-submit-form-lg"></button>
    </form>
    <div class="detail-address">
        <input name="country" type="text" value="">
        <input name="administrative_area_level_1" type="text" value="">
    </div>
</section>
<!-- Section One -->
<!-- Footer -->
