.text-error
{
    margin-top: 5px;
    color: #d80c15;
    font-size: 14px;
}

input.ng-invalid.ng-touched:not([type=file]) {
    border-bottom: solid 2px #da181f;
}

input.ng-invalid.ng-touched:focus:not([type=file]) {
    border-bottom: solid 2px #da181f;
}

.file-error
{
    border: dotted 3px #da181f;
}

.file-upload-preview:not([style])
{
    .closeImg{
        display:none;
    }
}

.file-upload-preview[style]:hover {
    .closeImg{
        width: 20px;
        height: 20px;
        background-color: #2b1212;
        position: absolute;
        top: 8%;
        right: 8%;
        z-index: 10;
        border-radius: 50%;
        color: white;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        background-image: url('/assets/images/ic_close2x.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }
}

.file-upload-preview-square:not([style])
{
    .closeImg{
        display:none;
    }
}

.file-upload-preview-square[style]:hover {
    .closeImg{
        width: 20px;
        height: 20px;
        background-color: #2b1212;
        position: absolute;
        top: -6%;
        right: -6%;
        z-index: 10;
        border-radius: 50%;
        color: white;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        background-image: url('/assets/images/ic_close2x.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }
}