html {
    height: 100%;
}
body {
    height: 100%;
    overflow: hidden;
}

header {
    height: 585px;
    background-image: url(/assets/images/header/1920_1_2_header.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.navbar-header {
    margin-left: -60px !important;
    .navbar-brand {
        padding: 62px 20px;
        margin-top: -15px;
        >img {
            width: 264px;
        }
    }
    .img-head {
        margin-top: 205px;
        margin-left: 18px;
    }
}

.container {
    width: 767px;
}

.sign-up-box-company {
    background-image: url('/assets/images/bg_Image-Signup-Success.png');
    background-repeat: no-repeat;
    text-align: center;
    margin-top: -278px;
    padding: 110px 143px;
    height: 100%;
    h3 {
        font-family: LuckiestGuy;
        font-size: 18px;
        letter-spacing: 0.5px;
        text-align: center;
        color: #bc6c40;
        line-height: 22px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}


/* >1921px */


/* 1440px - <1921px */

@media only screen and (max-width: 1921px) {}


/* 1024px - 1440px */

@media only screen and (max-width: 1440px) {
    header {
        background-image: url(/assets/images/header/1440_1_2_header.png);
    }
}


/* 768px - <1024px */

@media only screen and (max-width: 1023px) {
    header {
        background-image: url(/assets/images/header/768_1_2_header.png);
    }
    .navbar-header {
        margin-left: -3px !important;
        .navbar-brand {
            padding: 62px 0;
            >img {
                margin-left: -4px;
            }
        }
        .img-head {
            margin-top: 200px;
            margin-left: -14px;
        }
    }
    .container {
        width: 690px;
    }
    .sign-up-box-company {
        background-image: url('/assets/images/bg/768-bg-submit-success.png');
        padding: 81px 102px;
        margin-top: -269px;
        .file-format {}
    }
}


/* <768px */

@media only screen and (max-width: 767px) {
    body {
        padding: 0;
    }
    .navbar-header {
        margin-left: -11px !important;
        .navbar-brand {
            padding: 45px 0;
            >img {
                margin-left: -4px;
                height: 30px;
                width: auto;
            }
        }
        .img-head {
            margin-top: 109px;
            margin-left: 0px;
            img {
                width: 90px;
            }
        }
    }
    .container {
        width: 100%;
    }
    header {
        background-image: url('/assets/images/1-section-1-bg-sign-up-page-320.png');
        background-size: cover;
        height: 200px;
    }
    .sign-up-box-company {
        background-image: url('/assets/images/bg-sign-up-box-320.png');
        padding: 68px 15px;
        margin-top: -41px;
        background-size: cover;
        h3 {}
    }
}