@heading-center-width: 242px;
@heading-font-size-320: 16px;


header {
    height: 738px;
    background-image: url('/assets/images/2_section1_bg.png');
    background-size: cover;
    background-position: 0px -128px;
    background-repeat: no-repeat;

    .section1-text-banner {
        margin-top: 126px;
        margin-left: 384px;

        .section1_content {
            width: 645.4px;
            margin-top: 17px;
            opacity: 0.8;
            font-family: Roboto;
            font-size: 20px;
            line-height: 1.5;
            text-align: left;
            color: #ffffff;
            margin-left: 3px;
        }
    }

    .navbar-brand > img {
        width: 330px;
    }

    .navbar-header {
        width: 100%;
    }

    ul.list-app-store {
        list-style: none;
        display: inline-block;
        padding-left: 0;
        margin-left: -6px;
        margin-top: 30px;
    }

    ul.list-app-store li {
        float: left;
        margin-right: 22px;
    }

    .sign-up-link {
        background-color: transparent !important;
    }
}

.sec-carousel {
    min-height: 661px;
    background-image: url('/assets/images/2_section2_bg.png');
    background-size: cover;
    background-position: 0;
    position: relative;

    .home-carousel {
        height: 100%;
    }

    .owl-carousel .owl-item img {
        width: auto;
    }


    .left-div {
        width: 50%;
        float: left;
    }

    .right-div {
        width: 50%;
        float: right;

        .section3_subhead {
            font-size: 24px;
            font-weight: 900;
            text-align: left;
            color: #590909;
            margin-bottom: 10px;
        }

        .overlay {
            background-image: url('/assets/images/1-section-3-bg-map.png');
            background-size: contain;
            width: 646px;
            height: 562px;
            padding-top: 94px;
            padding-left: 112px;
            padding-right: 108px;
            margin: 26px 0 0 15px;
        }

        .text {
            opacity: 0.8;
            font-size: 16px;
            line-height: 1.44;
            text-align: left;
            color: #590909;
            margin-top: 40px;
        }
    }

    .ctrl-slide {
        width: 200px;
        position: absolute;
        top: 68%;
        right: 34%;
        z-index: 1;
        padding: 0px 20px;

        .btn-prev, .btn-next {
            width: 75px;
            height: 75px;
            cursor: pointer;
        }

        .btn-prev {
            background-image: url('/assets/icons/btn-next-prev.png');
            float: left;
        }

        .btn-next {
            background-image: url('/assets/icons/btn-next-prev.png');
            background-position: 0px 78px;
            float: right;
        }

        .btn-prev:hover {
            background-image: url('/assets/icons/btn-next-prev.png');
            background-position: 79px 0px;
        }

        .btn-next:hover {
            background-image: url('/assets/icons/btn-next-prev.png');
            background-position: -78px 78px;
        }
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 37px;
        position: absolute;
        top: 74.1%;
        right: 19%;
        z-index: 1;
        padding: 0px 20px;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background-image: url('/assets/icons/dots_slider.png');
        background-position: 0px -1px;
        background-color: transparent;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 11.3px;
        height: 11.3px;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.sec-carousel2 {
    min-height: 661px;
    background-image: url('/assets/images/2_section4_bg.png');
    background-size: cover;
    background-position: 0;
    position: relative;

    .home-carousel {
        height: 100%;
    }

    .owl-carousel .owl-item img {
        width: auto;
    }


    .left-div {
        width: 50%;
        float: left;

        .section3_subhead {
            font-size: 24px;
            font-weight: 900;
            text-align: left;
            color: #590909;
            margin-bottom: 10px;
        }

        .overlay {
            background-image: url('/assets/images/1-section-3-bg-map.png');
            background-size: contain;
            width: 646px;
            height: 558px;
            padding-top: 67px;
            padding-left: 112px;
            padding-right: 108px;
            margin: 54px 0 0 270px;
        }

        .text {
            opacity: 0.8;
            font-size: 16px;
            line-height: 1.44;
            text-align: left;
            color: #590909;
            margin-top: 31px;
        }
    }

    .right-div {
        width: 50%;
        float: right;
    }

    .ctrl-slide {
        width: 200px;
        position: absolute;
        top: 71%;
        left: 19%;
        z-index: 1;
        padding: 0px 20px;

        .btn-prev, .btn-next {
            width: 75px;
            height: 75px;
            cursor: pointer;
        }

        .btn-prev {
            background-image: url('/assets/icons/btn-next-prev.png');
            float: left;
        }

        .btn-next {
            background-image: url('/assets/icons/btn-next-prev.png');
            background-position: 0px 78px;
            float: right;
        }

        .btn-prev:hover {
            background-image: url('/assets/icons/btn-next-prev.png');
            background-position: 79px 0px;
        }

        .btn-next:hover {
            background-image: url('/assets/icons/btn-next-prev.png');
            background-position: -78px 78px;
        }
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 37px;
        position: absolute;
        top: 75.29%;
        left: 39.3%;
        z-index: 1;
        padding: 0px 20px;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background-image: url('/assets/icons/dots_slider.png');
        background-position: 0px -1px;
        background-color: transparent;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 11.3px;
        height: 11.3px;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.sec-feature {
    background-image: url('/assets/images/2/2-section-5-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 760px;
    padding-top: 111px;
    background-color: white;

    .tab-content {
        width: 1147px;
        margin: auto;
        margin-top: 55px;

        [class*="col-"] {
            padding-left: 40px;
            padding-right: 42px;
            margin-bottom: 21px;
            min-height: 187px;
        }
    }

    .nav-pills {
        width: 250px;
        margin: 0 auto;
        margin-top: 38px;

        > li > a {
            border-radius: 94.4px;
            background-color: #ffffff;
            border: solid 1.9px #590909;
            padding: 8px 15px;
            margin-right: 10px;
            width: 113.2px;
            font-size: 16px;
            line-height: 1.44;
            text-align: center;
            color: #590909;
        }

        li:last-child a {
            margin-right: 0;
            margin-left: 11px;
        }
    }


    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        color: #fff;
        border-radius: 94.4px;
        background-color: #590909;
    }

    .text-feature {
        opacity: 0.8;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.44;
        color: #590909;
        margin-top: 10px;
    }
}

.sec-download-today {
    background-image: url('/assets/images/2/2-section-6-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 297px;
    background-color: white;

    .character {
        margin-top: -34px;
        margin-left: 331px;
        float: left;
        background-image: url(/assets/images/2/2_section6_character.png);
        width: 185px;
        height: 331px;
    }

    .list-app-store {
        float: left;
        list-style: none;
        display: inline-block;
        padding-left: 0;
        margin-left: 55px;
        margin-top: 166px;
    }

    .list-app-store li {
        float: left;
        margin-right: 22px;
    }
}

.sec-aboutus {
    height: 707px;
    background-image: url('/assets/images/1-section-4-bg.png');
    background-size: cover;
    padding-top: 51px;
    background-color: white;

    .heading-center {
        margin: 0 auto;
        display: block;
        width: 427px;
    }

    .left-div {
        width: 50%;
        float: left;

        .image-left {
            background-repeat: no-repeat;
            width: 535px;
            height: 349.9px;
            float: right;
            margin-top: 119px;
            margin-right: 49px;
        }
    }

    .right-div {
        width: 50%;
        float: right;

        .content {
            margin-top: 84px;
            margin-left: 16px;
            width: 509px;
            font-size: 16px;

            p {
                margin: 0 0 13px;
            }

            .prize {
                margin-top: 17px;
            }
        }
    }
}

.sec-contactus {
    height: 660px;
    background-image: url('/assets/images/1-section-5-bg.png');
    background-size: cover;
    padding-top: 23px;

    .contact-box {
        background-image: url('/assets/images/1-section-5-bg-map.png');
        background-size: cover;
        width: 648px;
        height: 550px;
        padding: 53px 112px;
        text-align: center;
        margin-top: 37px;
        margin-left: 265px;

        img.heading-image {
            margin-left: -9px;
            margin-bottom: 18px;
        }

        .btn-submit-form {
            margin-top: 44px;
        }
    }

    .phone-overlay {
        margin-top: -197px;
        margin-left: 136px;
    }
}

.sec-menu-footer {
    height: 188.7px;
    background-color: #2b1212;
    color: white;
    padding-top: 37.3px;
    position: relative;

    .company-address {
        position: absolute;
        margin-top: 35px;
        left: 18.2%;
        top: 0;

        h3 {
            margin-bottom: 22px;
        }

        p {
            font-size: 16px;
            line-height: 1.44;
        }
    }

    .company-logo {
        text-align: center;
        border-left: 1px solid #3b2424;
        border-right: 1px solid #3b2424;
        height: 113.2px;
        width: 340px;
        margin-left: auto;
        margin-right: auto;

        .logo-footer {
            width: 277.9px;
            margin-top: 26px;
        }
    }

    .company-socials {
        text-align: center;
        position: absolute;
        margin-top: 34px;
        right: 20.2%;
        ;
        top: 0;

        h3 {
            margin-left: 20px;
        }

        ul.list-socials {
            list-style: none;
            cursor: pointer;
            margin-top: 20px;
        }

        ul.list-socials li {
            float: left;
            padding: 0;
            padding-right: 20px;
        }
    }
}


footer {
    height: 78px;

    .copywrite {
        width: 337.8px;
        height: 46px;
        opacity: 0.8;
        font-size: 16px;
        line-height: 1.44;
        text-align: center;
        color: #ffffff;
        margin: 0 auto;
        margin-top: 32px;
    }
}

@media only screen and (max-width : 1440px) {
    .sec-carousel2 {
        .ctrl-slide {
            top: 71.2%;
            left: 8%;
        }

        .owl-theme .owl-nav.disabled + .owl-dots {
            top: 75.29%;
            left: 35.6%;
        }
    }
}

/* 1440px - <1920px */
@media only screen and (max-width : 1919px) {
    header {
        height: 738px;
        background-image: url('/assets/images/1_section1_bg.png');
        background-size: cover;
        background-position: 0px 0px;
        background-repeat: no-repeat;

        .section1-text-banner {
            margin-top: 128px;
            margin-left: 140px;

            .section1_content {
                width: 533.4px;
                opacity: 0.8;
                font-size: 18.9px;
                line-height: 1.5;
                text-align: left;
                color: #ffffff;
                margin-top: 16px;
            }
        }
    }


    .sign-up-link {
        padding-right: 35px !important;
    }

    .sec-carousel {
        .heading-center {
            margin-top: 72px;
        }

        .ctrl-slide {
            top: 67.7%;
            right: 28.5%;
        }

        .left-div {
        }

        .owl-theme .owl-nav.disabled + .owl-dots {
            margin-top: 43px;
            top: 73.1%;
            right: 8.12%;
        }
    }

    .sec-carousel2 {
        .left-div {
            .overlay {
                margin: 54px 0 0 32px;
            }
        }
    }

    .sec-download-today {
        background-image: url('/assets/images/2/2_section6_bg-1440.png');
        height: 286px;

        .character {
            margin-left: 91px;
            height: 320px;
        }
    }

    .sec-contactus {
        height: 672px;

        .contact-box {
            margin-left: 28px;
            margin-top: 48px;
        }

        .phone-overlay {
            margin-top: -185px;
            margin-left: 136px;
        }
    }

    .sec-menu-footer {
        .company-address {
            left: 7.2%;
        }

        .company-socials {
            right: 9.8%;
        }
    }
}


/* 1024px - <1439px */
@media only screen and (max-width : 1439px) {
    header {
        background-position: 0px 0px;
        background-repeat: no-repeat;

        .section1-text-banner {
            margin-top: 88px;
            margin-left: 98px;
        }

        .section1-text-banner .section1_content {
            width: 463.4px;
        }
    }

    .sign-up-link {
        padding-right: 33px !important;
        margin-top: 7px;
    }
}


/* 768px - <1024px */
@media only screen and (max-width : 1023px) {
    header {
        background-image: url('/assets/images/2/section1_bg-768.png');
        height: 740px;
        overflow: hidden;

        .section1-text-banner {
            margin-top: 120px;
            margin-left: 103px;
        }

        .section1-text-banner .section1_content {
            width: 463.4px;
            margin-top: 28px;
            font-size: 20px;
            line-height: 1.5;
        }
    }

    .sec-carousel {
        background-image: url('/assets/images/2/section1_bg-768.png');
        min-height: 661px;

        .heading-center {
            margin-top: 63px;
        }

        .left-div {
            width: 100%;
        }

        .right-div {
            width: 100%;

            .overlay {
                padding-top: 94px;
                padding-left: 61px;
                padding-right: 70px;
                margin: 26px 0 0 37px;
            }
        }

        .ctrl-slide {
            top: 67.3%;
            right: 62.5%;
        }

        .owl-theme .owl-nav.disabled + .owl-dots {
            margin-top: 3px;
            padding-bottom: 25px;
            top: 80.1%;
            right: 10.12%;
        }
    }

    .sec-carousel2 {
        background-image: url('/assets/images/2/section4_bg-768.png');

        .ctrl-slide {
            width: 200px;
            position: absolute;
            top: 71.3%;
            left: 9.3%;
            z-index: 1;
            padding: 0px 20px;
        }

        .owl-theme .owl-nav.disabled + .owl-dots {
            margin-top: 37px;
            position: absolute;
            top: 75.29%;
            left: 75.3%;
            z-index: 1;
            padding: 0px 20px;
        }
    }

    .sec-feature {
        min-height: 877px;

        .tab-content {
            width: 529px;
            margin: auto;
            margin-top: 55px;

            [class*="col-"] {
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 10px;
                min-height: 141px;
            }
        }
    }

    .sec-download-today {
        height: 299px;
        background-image: url('/assets/images/2/section6_bg-768.png');

        .character {
            margin-left: 30px;
            height: 333px;
        }

        .list-app-store {
            margin-left: 29px;
            margin-top: 129px;
        }
    }

    .sec-contactus {
        height: 651px;

        .contact-box {
            margin-left: 28px;
            margin-top: 36px;
        }
    }

    .sec-aboutus {
        min-height: 881px;
        padding-top: 49px;
        background-image: url('/assets/images/2/section3_bg-768.png');

        h4 {
            font-size: 24px;
        }

        .left-div {
            width: 100%;

            .image-left {
                background-repeat: no-repeat;
                background-size: cover;
                width: 378px;
                height: 198.9px;
                margin-left: 175px;
                float: none;
                margin-top: 92px;
                margin-right: 0;
            }
        }

        .right-div {
            width: 100%;

            .content {
                margin-top: 11px;
                margin-left: 99px;
                width: 515px;
            }

            .prize {
                margin-top: 26px;
            }
        }
    }

    .sec-menu-footer {
        height: 420.7px;
        background-color: #2b1212;
        color: white;
        padding-top: 37.3px;
        position: relative;

        .company-address {
            position: absolute;
            margin-top: 0;
            left: 30.1%;
            top: 162px;
            text-align: center;
            float: right;
        }

        .company-logo {
            text-align: center;
            border-left: none;
            border-right: none;
            height: 113.2px;
            width: 340px;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            bottom: 25px;
            left: 27%;
        }

        .company-socials {
            position: relative;
            margin-top: 0;
            right: 10px;
            top: -2px;
            text-align: center;
            width: 230px;
            margin: 0 auto;
        }
    }
}

/* <768px */
@media only screen and (max-width : 767px) {
    header {
        height: 441px;
        background-image: url('/assets/images/2/section1_bg-320.png');

        .section1-text-banner {
            margin-top: 40px;
            margin-left: 16px;

            > img {
                height: 43px;
            }

            .section1_content {
                width: 98%;
                opacity: 0.8;
                font-size: 16px;
                line-height: 1.35;
                margin-top: 27px;
            }
        }

        ul.list-app-store {
            margin-left: -2px;
        }

        ul.list-app-store li {
            float: left;
            margin-right: 4px;

            > img {
                height: 48px;
            }
        }
    }

    header .navbar-brand > img {
        width: auto;
    }

    .sec-carousel {
        background-image: url('/assets/images/2/section2_bg-320.png');
        min-height: auto;

        .ctrl-slide {
            display: none;
        }

        .left-div {
        }

        .right-div {
            .section3_subhead {
                font-size: 16px;
                font-weight: 900;
                margin-bottom: 6px;
            }

            .overlay {
                background-image: url('/assets/images/2/section2_map-320.png');
                background-repeat: no-repeat;
                padding-top: 42px;
                padding-left: 16px;
                padding-right: 16px;
                margin: 0;
                margin-top: 23px;
                width: 100%;
                height: 497px;

                .subhead-img {
                    height: 21px;
                }
            }

            .text {
                margin-top: 24px;
                font-size: 14px;
            }
        }

        .owl-theme .owl-nav.disabled + .owl-dots {
            margin-top: 25px;
            padding-bottom: 0px;
            top: 74.4%;
            right: -2.88%;
        }
    }

    .sec-carousel2 {
        background-image: url('/assets/images/2/2-section-4-bg-320.png');
        min-height: unset;

        .ctrl-slide {
            display: none;
        }

        .left-div {
            width: 100%;

            .section3_subhead {
                font-size: 16px;
                font-weight: 900;
                margin-bottom: 6px;
            }

            .overlay {
                background-image: url('/assets/images/2/section2_map-320.png');
                background-repeat: no-repeat;
                padding-top: 42px;
                padding-left: 16px;
                padding-right: 16px;
                margin: 0;
                margin-top: 23px;
                width: 100%;
                height: 497px;

                .subhead-img {
                    height: 21px;
                }
            }

            .text {
                margin-top: 24px;
                font-size: 14px;
            }
        }

        .right-div {
        }

        .owl-theme .owl-nav.disabled + .owl-dots {
            margin-top: 25px;
            padding-bottom: 0px;
            top: 74.4%;
            right: 0;
            left: 66.3%;
            padding-right: 0px;
        }
    }

    .sec-feature {
        min-height: 990px;
        padding-top: 49px;

        .heading-ft {
            height: 21px;
        }

        .tab-content {
            width: 100%;
            margin-top: 38px;
            padding: 0 15px;
        }

        .tab-content [class*="col-"] {
            margin-bottom: 24px;
            padding-right: 18px;
            min-height: unset;

            > img {
                height: 17px;
            }
        }

        .text-feature {
            font-size: 14px;
        }
    }

    .sec-download-today {
        background-image: url('/assets/images/2/2-section-6-bg-320.png');
        height: 195px;
        padding-top: 106px;

        .character {
            display: none;
        }

        .list-app-store {
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            width: 320px;
            height: 49px;
            display: block;
            float: none;
        }

        .list-app-store li {
            float: left;
            margin: 0 7px;
        }

        ul.list-app-store li > img {
            height: 48px;
        }
    }

    .sec-aboutus {
        padding-top: 21px;
        min-height: 816px;
        height: auto;

        .heading-center {
            width: @heading-center-width;

            h4 {
                font-size: @heading-font-size-320;
            }

            .image-heading {
                height: 21px;
                margin-top: -10px;
            }
        }

        .left-div {
            .image-left {
                background-repeat: no-repeat;
                background-size: cover;
                width: 237px;
                height: 123.9px;
                margin-left: auto;
                float: none;
                margin-top: 55px;
                margin-right: auto;
            }
        }

        .right-div {
            .content {
                margin-top: 45px;
                margin-left: 0;
                padding-right: 16px;
                padding-left: 16px;
                width: 100%;
                font-size: 14px;
                line-height: 1.43;
            }

            .prize {
                margin-top: 42px;
            }
        }
    }

    .sec-contactus {
        padding-top: 22px;
        min-height: 523px;
        height: auto;

        .contact-box {
            width: 100%;
            height: 100%;
            padding: 54px 16px;
            padding-bottom: 30px;
            background-image: url('/assets/images/bg-contact-box-320.png');
            margin: 0;
            margin-bottom: 42px;

            img.heading-image {
                margin-left: 0px;
                height: 21px;
                margin-bottom: 46px;
            }

            .form-control {
                font-size: 16px;
                letter-spacing: 0.4px;
            }


            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-size: 16px;
            }

            ::-moz-placeholder { /* Firefox 19+ */
                font-size: 16px;
            }

            :-ms-input-placeholder { /* IE 10+ */
                font-size: 16px;
            }

            :-moz-placeholder { /* Firefox 18- */
                font-size: 16px;
            }

            .btn-submit-form {
                margin-top: 39px;
            }
        }
    }

    .sec-menu-footer {
        height: 362.7px;

        .company-socials {
            h3 {
                font-size: 18px;
                margin-top: 24px;
            }
        }

        .company-address {
            position: absolute;
            margin-top: 0;
            left: 0;
            top: 167px;
            width: 100%;
            text-align: center;
            float: none;

            h3 {
                font-size: 18px;
                margin-bottom: 17px;
                margin-top: 36px;
            }

            p {
                font-size: 11px;
                line-height: 1.27;
            }
        }

        .company-address:before {
            content: '';
            width: 116px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.1);
            margin: 0 auto;
            display: block;
            margin-top: -17px;
        }

        .company-logo {
            width: 100%;
            left: 0;
            bottom: -35px;

            .logo-footer {
                width: auto;
                margin-top: 32px;
                height: 30px;
            }
        }

        .company-logo:before {
            content: '';
            width: 116px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.1);
            margin: 0 auto;
            display: block;
            margin-top: -8px;
        }
    }

    footer {
        height: auto;

        .copywrite {
            width: 240px;
            height: 69px;
            font-size: 11px;
            line-height: 1.27;
            margin-top: 29px;
        }
    }

    .sign-up-link {
        padding-right: 0px !important;
    }

    .sign-up-link img {
        height: 15px !important;
    }
}
