<!-- Section One -->
<header>
    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                  <img src="/assets/images/logo@2x.png" alt="Logo">
              </a>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="item-link sign-up-link" href="/sign-up">
                              <img src="/assets/images/1_section1_bt_signup.png" />
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <div class="section1-text-banner">
        <img class="hidden-sm" src="/assets/images/2_GET YOUR SCHOOL BEHI.png" />
        <img class="visible-sm" src="/assets/images/2/section1_headline-768.png" />
        <p class="section1_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et molestie erat. Fusce venenatis nunc erat
        </p>
        <ul class="list-app-store">
            <li>
                <img src="/assets/images/2_bt_appstore.png" />
            </li>
            <li>
                <img src="/assets/images/2_bt_googleplay.png" />
            </li>
        </ul>
    </div>
</header>
<!-- Section One -->
<!-- Section Two -->
<section class="sec-carousel">
    <div class="home-carousel owl-carousel owl-theme">
        <!-- Item 1 -->
        <div>
            <div class="left-div">

            </div>
            <div class="right-div">
                <div class="overlay">
                    <div class="section3_subhead">BENEFITS FOR</div>
                    <img class="subhead-img" src="/assets/images/section2_headline.png" />
                    <div class="text">
                        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline
                            of her hometown Bookmarksgrove. When she reached the first hills of the Italic Mountains, she
                            had a last view back on the skyline of her hometown Bookmarksgrove</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 2 -->
        <div>
            <div class="left-div">

            </div>
            <div class="right-div">
                <div class="overlay">
                    <div class="section3_subhead">BENEFITS FOR</div>
                    <img class="subhead-img" src="/assets/images/section2_headline.png" />
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, eu habeo inermis explicari sea, malis voluptatum duo id. Ludus graece
                            tritani ea has, mel tation delicatissimi an.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 3 -->
        <div>
            <div class="left-div">

            </div>
            <div class="right-div">
                <div class="overlay">
                    <div class="section3_subhead">BENEFITS FOR</div>
                    <img class="subhead-img" src="/assets/images/section2_headline.png" />
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, eu habeo inermis explicari sea, malis voluptatum duo id. Ludus graece
                            tritani ea has, mel tation delicatissimi an. Quaeque saperet no vis, sea ad regione omittantur,
                            vidit minim disputando quo ex.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ctrl-slide">
        <div class="btn-prev"></div>
        <div class="btn-next"></div>
    </div>
</section>
<!-- Section Two -->
<!-- Section Three -->
<section class="sec-aboutus">
    <div>
        <div class="heading-center">
            <h4>
                ABOUT US
            </h4>
            <img class="image-heading" src="/assets/images/section3_headline.png" />
        </div>
        <div class="left-div">
            <div class="image-left" style="background-image: url('/assets/images/1-section-4-image.png')"></div>
        </div>
        <div class="right-div">
            <div class="content">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>
                    <img class="prize hidden-xs" src="/assets/images/2/section3_prize.png" />
                    <img class="prize visible-xs" src="/assets/images/2/section3_prize-320.png" />
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Section Three -->
<!-- Section Four -->
<section class="sec-carousel2">
    <div class="home-carousel owl-carousel owl-theme">
        <!-- Item 1 -->
        <div>
            <div class="left-div">
                <div class="overlay">
                    <div class="section3_subhead">BENEFITS FOR</div>
                    <img class="subhead-img" src="/assets/images/section4_headline.png" />
                    <div class="text">
                        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline
                            of her hometown Bookmarksgrove. When she reached the first hills of the Italic Mountains, she
                            had a last view back on the skyline of her hometown Bookmarksgrove</p>
                    </div>
                </div>
            </div>
            <div class="right-div">

            </div>
        </div>
        <!-- Item 2 -->
        <div>
            <div class="left-div">
                <div class="overlay">
                    <div class="section3_subhead">BENEFITS FOR</div>
                    <img class="subhead-img" src="/assets/images/section4_headline.png" />
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, eu habeo inermis explicari sea, malis voluptatum duo id. Ludus graece
                            tritani ea has, mel tation delicatissimi an.</p>
                    </div>
                </div>
            </div>
            <div class="right-div">

            </div>
        </div>
        <!-- Item 3 -->
        <div>
            <div class="left-div">
                <div class="overlay">
                    <div class="section3_subhead">BENEFITS FOR</div>
                    <img class="subhead-img" src="/assets/images/section4_headline.png" />
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, eu habeo inermis explicari sea, malis voluptatum duo id. Ludus graece
                            tritani ea has, mel tation delicatissimi an. Quaeque saperet no vis, sea ad regione omittantur,
                            vidit minim disputando quo ex.</p>
                    </div>
                </div>
            </div>
            <div class="right-div">

            </div>
        </div>
    </div>
    <div class="ctrl-slide">
        <div class="btn-prev"></div>
        <div class="btn-next"></div>
    </div>
</section>
<!-- Section Four -->
<section class="sec-feature">
    <div class="text-center">
        <img class="heading-ft" src="/assets/images/2/section5_headline.png" />
    </div>
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#businesses">Businesses</a></li>
        <li><a data-toggle="pill" href="#schools">Schools</a></li>
    </ul>
    <div class="tab-content">
        <div id="businesses" class="tab-pane fade in active">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title1.png" />
                    <p class="text-feature">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title2.png" />
                    <p class="text-feature">
                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden
                        flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title3.png" />
                    <p class="text-feature">
                        Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title4.png" />
                    <p class="text-feature">
                        One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The
                        Big Oxmox advised her not to do so
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title5.png" />
                    <p class="text-feature">
                        She packed her seven versalia, put her initial into the belt and made herself on the way
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title6.png" />
                    <p class="text-feature">
                        When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
                    </p>
                </div>
                <!--<div class="col-sm-6 col-md-4">
                  <img src="/assets/images/2/section5_title1.png"/>
                  <p class="text-feature">
                      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                  </p>
              </div>
              <div class="col-sm-6 col-md-4">
                  <img src="/assets/images/2/section5_title3.png"/>
                  <p class="text-feature">
                      Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
                  </p>
              </div>
              <div class="col-sm-6 col-md-4">
                  <img src="/assets/images/2/section5_title5.png"/>
                  <p class="text-feature">
                      She packed her seven versalia, put her initial into the belt and made herself on the way
                  </p>
              </div>
              <div class="col-sm-6 col-md-4">
                  <img src="/assets/images/2/section5_title2.png"/>
                  <p class="text-feature">
                      Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                  </p>
              </div>
              <div class="col-sm-6 col-md-4">
                  <img src="/assets/images/2/section5_title4.png"/>
                  <p class="text-feature">
                      One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so
                  </p>
              </div>
              <div class="col-sm-6 col-md-4">
                  <img src="/assets/images/2/section5_title6.png"/>
                  <p class="text-feature">
                      When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
                  </p>
              </div>-->
            </div>
        </div>
        <div id="schools" class="tab-pane fade">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title1.png" />
                    <p class="text-feature">
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title2.png" />
                    <p class="text-feature">
                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden
                        flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title3.png" />
                    <p class="text-feature">
                        Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title4.png" />
                    <p class="text-feature">
                        One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The
                        Big Oxmox advised her not to do so
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title5.png" />
                    <p class="text-feature">
                        She packed her seven versalia, put her initial into the belt and made herself on the way
                    </p>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="/assets/images/2/section5_title6.png" />
                    <p class="text-feature">
                        When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-download-today">
    <div class="character">
    </div>

    <ul class="list-app-store">
        <li>
            <img src="/assets/images/2/2_section6_appstore.png" />
        </li>
        <li>
            <img src="/assets/images/2/2_section6_googleplay.png" />
        </li>
    </ul>
</section>
<app-contact-us></app-contact-us>
<section class="sec-menu-footer">
    <div class="company-address">
        <h3>
            Contact Us
        </h3>
        <p>123 Fake street, Perth Western Australia</p>
    </div>
    <div class="company-logo">
        <img class="logo-footer" src="/assets/images/logo.png" />
    </div>
    <div class="company-socials">
        <h3>Follow us</h3>
        <ul class="list-socials">
            <!-- <li><a href=""><img src="assets/icons/1-section-6-ic-google-white.svg" /></a></li> -->
            <li><a href="https://www.facebook.com/National-Treasures-112041062815411/"><img src="assets/icons/1-section-6-ic-facebook-white.svg" /></a></li>
            <!-- <li><a href=""><img src="assets/icons/1-section-6-ic-twitter-white.svg" /></a></li> -->
            <li><a href="https://www.instagram.com/nationaltreasures_/"><img src="assets/icons/1-section-6-ic-instagram-white.svg" /></a></li>
            <!-- <li><a href=""><img src="assets/icons/1-section-6-ic-behance-white.svg" /></a></li> -->
        </ul>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="copywrite">
        <p>© 2017 National Treasures. All rights reserved. Terms & Conditions</p>
    </div>
</footer>
