<!-- Header -->
<header>
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                        <img src="assets/images/logo.png" alt="Logo">
                    </a>
                <div class="img-head"><img src="assets/images/1_2_head.png" /></div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</header>
<!-- Section One -->
<section class="container sign-up-box-company">
    <form id="form-sigup-business" novalidate (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <div class="form-section-1">
            <img class="heading-image hidden-xs" src="assets/images/01. YOUR COMPANY DET.png" />
            <img class="heading-image-mobile visible-xs" src="assets/images/question1-320.png" />
            <h3 class="text-center">
                To become part of this groundbreaking local virtual hunt register your details here!
            </h3>
            <div class="form-group">
                <input type="text" class="form-control" id="busname" placeholder="Business Name" formControlName="name" autocomplete="off">
                <div class="text-error" *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched">Please enter your name</div>
                <div class="text-error" *ngIf="myForm.controls['name'].hasError('businessExist') && myForm.controls['name'].touched">This business name is existing. Please enter another one</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email" autocomplete="off">
                <div class="text-error" *ngIf="myForm.controls['email'].hasError('required') && myForm.controls['email'].touched">Please enter your email address</div>
                <div class="text-error" *ngIf="myForm.controls['email'].hasError('email') && myForm.controls['email'].touched && !myForm.controls['email'].hasError('required')">Please correct your email address</div>
                <div class="text-error" *ngIf="myForm.controls['email'].hasError('emailExist') && myForm.controls['email'].touched">This email address is existing. Please enter another one</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone" autocomplete="off">
                <div class="text-error" *ngIf="myForm.controls['phone'].hasError('required') && myForm.controls['phone'].touched">Please enter your phone number</div>
                <div class="text-error" *ngIf="myForm.controls['phone'].hasError('tel') && myForm.controls['phone'].touched">Please correct your phone number</div>
                <div class="text-error" *ngIf="myForm.controls['phone'].hasError('phoneExist') && myForm.controls['phone'].touched">This phone number is existing. Please enter another one</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="location" placeholder="Location" formControlName="location">
                <div class="text-error" *ngIf="myForm.controls['location'].hasError('required') && myForm.controls['location'].touched">Please enter your location</div>
            </div>
        </div>

        <div class="form-section-2">
            <img class="heading-image" src="assets/images/02. YOUR COMPANY LOG.png" />
            <h3 class="text-center">
                Upload your logo for use in the hunt.
            </h3>
            <div class="file-upload-preview" [ngClass]="{'file-error':!myForm.controls['logo'].valid && myForm.controls['logo'].touched}">
                <input type="file" id="file1" class="custom-file-input" formControlName="logo" (change)="checkFile($event)">
                <label for="file1" class="lbl-select-file">Select file</label>
                <div class="closeImg"></div>
            </div>
            <div class="text-error" *ngIf="myForm.controls['logo'].hasError('required') && myForm.controls['logo'].touched">Please upload your company logo</div>
            <div class="text-error" *ngIf="myForm.controls['logo'].hasError('maxsize') && myForm.controls['logo'].touched">Please upload file max 5m</div>
            <div class="text-error" *ngIf="myForm.controls['logo'].hasError('fomat') && myForm.controls['logo'].touched">Please upload file JPG, PNG</div>
            <p class="text-center file-format">
                JPG or PDF formats only | Max 5MB
            </p>
        </div>
        <div class="form-section-3">
            <img class="heading-image hidden-xs" src="assets/images/03. NOMINATE TREE LO.png" />
            <img class="heading-image-mobile visible-xs" src="assets/images/question3-320.png" />
            <h3 class="text-center">
                Choose which location you would like to have your tree.
            </h3>
            <div class="form-group">
                <input type="text" class="form-control" id="location2" placeholder="Location" formControlName="location2">
                <div class="text-error" *ngIf="myForm.controls['location2'].hasError('required') && myForm.controls['location2'].touched">Please enter your location</div>
            </div>
        </div>
        <div class="form-section-4">
            <img class="heading-image" src="assets/images/04. PAYMENT.png" />
            <h3 class="text-center">
                Please enter your Credit Card details
            </h3>

            <div class="form-group">
                <input type="text" maxlength="16" class="form-control" id="cardnum" placeholder="Card Number" formControlName="cardNumber" (change)="checkStripe()">
                <div class="text-error" *ngIf="myForm.controls['cardNumber'].hasError('paymentError') && myForm.controls['cardNumber'].touched">{{myForm.controls['cardNumber']?.errors?.paymentError}}</div>
                <div class="text-error" *ngIf="myForm.controls['cardNumber'].hasError('required') && myForm.controls['cardNumber'].touched">Please enter your card number</div>
                <div class="text-error" *ngIf="myForm.controls['cardNumber'].hasError('pattern') && myForm.controls['cardNumber'].touched">Please correct your card number</div>
            </div>
            <div class="form-group">
                <input type="text" maxlength="5" class="form-control" id="cardholder" placeholder="Zip/postal code (Optional)" formControlName="cardZipcode" (change)="checkStripe()">
                <div class="text-error" *ngIf="myForm.controls['cardZipcode'].hasError('paymentError') && myForm.controls['cardZipcode'].touched">{{myForm.controls['cardZipcode']?.errors?.paymentError}}</div>
                <div class="text-error" *ngIf="myForm.controls['cardZipcode'].hasError('required') && myForm.controls['cardZipcode'].touched">Please enter your zip/postal code</div>
                <div class="text-error" *ngIf="myForm.controls['cardZipcode'].hasError('pattern') && myForm.controls['cardZipcode'].touched">Please correct your zip/postal code</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input type="text" maxlength="2" class="form-control mm" id="mm" placeholder="MM" formControlName="cardMonth" (change)="checkStripe()">
                        <div class="text-error text-error-month" *ngIf="myForm.controls['cardMonth'].hasError('paymentError') && myForm.controls['cardMonth'].touched">{{myForm.controls['cardMonth']?.errors?.paymentError}}</div>
                        <div class="text-error text-error-month" *ngIf="myForm.controls['cardMonth'].hasError('required') && myForm.controls['cardMonth'].touched">Month is invalid</div>
                        <div class="text-error text-error-month" *ngIf="myForm.controls['cardMonth'].hasError('pattern') && myForm.controls['cardMonth'].touched">Month is invalid</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input type="text" maxlength="2" class="form-control yy" id="yy" placeholder="YY" formControlName="cardYear" (change)="checkStripe()">
                        <div class="text-error text-error-year" *ngIf="myForm.controls['cardYear'].hasError('paymentError') && myForm.controls['cardYear'].touched">{{myForm.controls['cardYear']?.errors?.paymentError}}</div>
                        <div class="text-error text-error-year" *ngIf="myForm.controls['cardYear'].hasError('required') && myForm.controls['cardYear'].touched">Year is invalid</div>
                        <div class="text-error text-error-year" *ngIf="myForm.controls['cardYear'].hasError('pattern') && myForm.controls['cardYear'].touched">Year is invalid</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <p class="text-help-credit">Expiration date</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="form-group">
                        <input type="text" maxlength="4" class="form-control cvc" id="cvc" placeholder="CVC" formControlName="cardcvc" (change)="checkStripe()">
                        <div class="text-error text-error-cvc" *ngIf="myForm.controls['cardcvc'].hasError('paymentError') && myForm.controls['cardcvc'].touched">{{myForm.controls['cardcvc']?.errors?.paymentError}}</div>
                        <div class="text-error text-error-cvc" *ngIf="myForm.controls['cardcvc'].hasError('required') && myForm.controls['cardcvc'].touched">Cvc is invalid</div>
                        <div class="text-error text-error-cvc" *ngIf="myForm.controls['cardcvc'].hasError('pattern') && myForm.controls['cardcvc'].touched">Cvc is invalid</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <p class="text-help-cvc">3 or 4-digit code on the back of your card</p>
                </div>
                <div class="col-xs-12 text-help-3">
                    <h3 class="text-center xs-p-0">
                        You can skip the Payment process if you would like to arrange payment directly with National Treasures administration at a later time
                    </h3>
                </div>
            </div>
        </div>
        <input type="hidden" formControlName="lat">
        <input type="hidden" formControlName="lng">
        <button type="submit" class="btn-submit-form-lg" [disabled]="isSubmit"></button>
    </form>
    <form id="payment-form" novalidate [formGroup]="paymentForm">
        <input type="hidden" id="payment-number" data-stripe="number" formControlName="number">
        <input type="hidden" id="payment-month" data-stripe="exp_month" formControlName="month">
        <input type="hidden" id="payment-year" data-stripe="exp_year" formControlName="year">
        <input type="hidden" id="payment-cvc" data-stripe="cvc" formControlName="cvc">
        <input type="hidden" id="payment-zipcode" data-stripe="address_zip" formControlName="zipcode">
    </form>
    <div class="detail-address">
        <input name="country" type="text" value="">
        <input name="administrative_area_level_1" type="text" value="">
    </div>
    <div class="detail-address2">
        <input name="country" type="text" value="">
        <input name="administrative_area_level_1" type="text" value="">
    </div>
</section>
<!-- Section One -->
<!-- Footer -->
