@import "../../assets/css/less/header.less";
header {
    background-image: url('/assets/images/header/1920_1_2_header.png');
}

.sign-up-box-company {
    background-image: url('/assets/images/map.png');
    background-repeat: no-repeat;
    text-align: center;
    margin-top: -278px;
    padding: 81px 143px;
    h3 {
        opacity: 0.8;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        color: #590909;
        margin-top: 16px;
        padding: 0 80px;
        margin-bottom: 51px;
    }
    .file-format {
        font-family: Roboto;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0px;
        color: #590909;
    }
    .form-group {
        height: 58px;
    }
    .form-section-2 {
		height: 317px;
        margin-top: 118px;
        h3 {
            margin-bottom: -5px;
        }
        .file-format {}
        .text-error {
			margin-top: -12px;
			height: 30px;
			padding-top: 5px;
        }
    }
    .form-section-3 {
        margin-top: 101px;
    }
    .form-section-4 {
        margin-top: 100px;
        h3 {
            margin-bottom: 38px;
        }
        .mm {
            width: 121px;
            float: left;
        }
        .yy {
            width: 121px;
            margin-left: -30px;
        }
        .text-help-credit {
            float: left;
            opacity: 0.8;
            font-size: 16px;
            line-height: 1.6;
            text-align: center;
            color: #590909;
            font-weight: 500;
            margin-left: -64px;
        }
        .cvc {
            width: 260px;
        }
        .text-help-cvc {
            float: left;
            opacity: 0.8;
            font-size: 16px;
            line-height: 1.6;
            text-align: left;
            color: #590909;
            font-weight: 500;
            width: 151px;
            margin-left: -64px;
            margin-top: -14px;
        }
    }
    .btn-submit-form-lg {
        margin-top: 62px;
    }
}


/* >1921px */


/* 1440px - <1921px */

@media only screen and (max-width: 1921px) {}


/* 1024px - 1440px */

@media only screen and (max-width: 1440px) {
    header {
        background-image: url('/assets/images/header/1440_1_2_header.png');
    }
}


/* 768px - <1024px */

@media only screen and (max-width: 1023px) {
    header {
        background-image: url('/assets/images/header/768_1_2_header.png');
    }
    .sign-up-box-company {
        background-image: url('/assets/images/bg-sign-up-box-720.png');
        padding: 81px 102px;
        margin-top: -276px;
        .file-format {}
    }
}


/* <768px */

@media only screen and (max-width: 767px) {
    .navbar-header {
        margin-left: -11px !important;
        .navbar-brand {
            padding: 45px 0;
            >img {
                margin-left: -4px;
                height: 30px;
                width: auto;
            }
        }
        .img-head {
            margin-top: 109px;
            margin-left: 0px;
            img {
                width: 90px;
            }
        }
    }
    .container {
        width: 100%;
    }
    header {
        background-image: url('/assets/images/1-section-1-bg-sign-up-page-320.png');
        background-size: cover;
        height: 200px;
    }
    .sign-up-box-company {
        background-image: url('/assets/images/bg-sign-up-box-320.png');
        padding: 68px 15px;
        margin-top: -41px;
        padding-bottom: 48px;
        background-size: cover;
        .file-format {
            font-size: 14px;
			letter-spacing: 0px;  
			margin-top: 27px;          
        }
        h3 {
            font-size: 16px;
            padding: 0 0;
            line-height: 1.5;
            margin-top: 20px;
            margin-bottom: 0;
        }
        .heading-image {
            height: 21.3px;
        }
        .heading-image-mobile {
            width: 215px;
            margin: 0 auto;
            display: block;
        }
        .form-section-1 {
            h3 {
				font-size: 14px;
				margin-bottom: 38px;
            }
        }
        .form-section-2 {
            margin-top: 85px;
            h3 {
                margin-top: 28px;
                margin-bottom: 30px;
                font-size: 14px;
            }
        }
        .form-section-3 {
            margin-top: 120px;
            h3 {
                margin-top: 15px;
                margin-bottom: 33px;
            }
        }
        .form-section-4 {
            margin-top: 84px;
            h3 {
                margin-bottom: 30px;
			}

            .mm {
				width: 103%;
				float: left;
				    margin-top: 4px;
            }
            .yy {
				width: 103%;
				float: right;
				    margin-top: 4px;
            }
            .cvc {
                float: left;
                width: 100%;
                margin-top: 39px;
                padding: 10px;
            }
            .text-help-credit {
                float: none;
                margin-left: 0;
                margin-top: -21px;
                margin-bottom: 0;
                opacity: 0.8;
                font-size: 11px;
                line-height: 1.6;
                text-align: center;
                color: #590909;
                font-weight: 500;
            }
            .text-help-cvc {
				float: none;
				text-align: center;
				opacity: 0.8;
				font-size: 11px;
				line-height: 1.4;
				color: #590909;
				font-weight: 500;
				width: 120px;
				margin: 0 auto;
				margin-top: 19px;
            }
            .btn-submit-form-lg {
                margin-top: 165px;
            }
        }
        .form-control {
            font-size: 16px;
        }
        .btn-submit-form-lg {
            margin-top: 162px;
        }
         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 16px;
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 16px;
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            font-size: 16px;
        }
         :-moz-placeholder {
            /* Firefox 18- */
            font-size: 16px;
        }
        .text-help-3 {
            display: none;
        }
    }
}

@media only screen and (max-width: 320px) {
    .sign-up-box-company {
        background-size: auto;
    }
}

@media only screen and (min-width: 415px) {
    .text-error-year
    {
        margin-left: -80px;
    }

    .text-error-month
    {
        margin-left: -25px;
    }

    .text-error-cvc
    {
        padding-right: 43px;
    }
}

.detail-address
{
	display: none;
}

.detail-address2
{
	display: none;
}
