<!-- Section One -->
<header>
    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img class="hidden-sm" src="assets/images/logo.png" alt="Logo">
                    <img class="visible-sm" src="assets/images/1-section-1-logo.png" alt="Logo" />
                </a>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="item-link sign-up-link" href="/sign-up">
                                <img src="assets/images/1_section1_bt_signup.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <div class="section1-text-banner">
        <img src="assets/images/1_section1_title.png" />
        <p class="section1_content">
            Step beyond the ordinary and into the extraordinary to incorporate your business into the amazing National Treasures virtual treasure hunt set to sweep Perth.
        </p>
    </div>
</header>
<!-- Section One -->
<!-- Section Two -->
<section class="sec-carousel">
    <div class="home-carousel owl-carousel owl-theme">
        <!-- Item 1 -->
        <div>
            <div class="heading-center">
                <p class="lets-play">
                    LET’S PLAY!
                </p>
                <img class="image-heading" src="assets/images/slides/1_section4_head.png" />
            </div>
            <div class="left-div">
                <div class="image-left" style="background-image: url('assets/images/1_section2_iphone_1.png')"></div>
            </div>
            <div class="right-div">
                <div class="media-list">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="assets/images/slides/1-section-2-ic-challenge.png" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <img src="assets/images/slides/game-changing.png" />
                            </h4>
                            <p class="content">National Treasures will change lives by building connections in families and communities while providing marketing opportunities for businesses in a truly unique virtual platform.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="assets/images/slides/1-section-2-ic-fun.png" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <img src="assets/images/slides/fun.png" />
                            </h4>
                            <p class="content">Through an engaging app based virtual game National Treasures will connect Perth families through the fun of technology while getting them out and about in their communities in the spirit of adventure!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 2 -->
        <div>
            <div class="heading-center">
                <p class="lets-play">
                    LET’S PLAY!
                </p>
                <img class="image-heading" src="assets/images/slides/1_section4_head.png" />
            </div>
            <div class="left-div">
                <div class="image-left" style="background-image: url('assets/images/1_section2_iphone_2.png')"></div>
            </div>
            <div class="right-div">
                <div class="media-list">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="assets/images/slides/1-1-section-2-item-3-ic-champion.png" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <img src="assets/images/slides/winning.png" />
                            </h4>
                            <p class="content">
                                National Treasures Adventurers will embark on an amazing adventure with the chance to win prizes along their journey plus the chance to win the ultimate cash prize of $100,000!
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="assets/images/slides/1-1-section-2-item-4-ic-creativity.png" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <img src="assets/images/slides/inspring.png" />
                            </h4>
                            <p class="content">Designed and created by a local Perth family and made with family and community in mind this groundbreaking app platform is set to reconnect families while supporting schools and businesses in a way never seen before.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 3 -->
        <div>
            <div class="heading-center">
                <p class="lets-play">
                    LET’S PLAY!
                </p>
                <img class="image-heading" src="assets/images/slides/1_section4_head.png" />
            </div>
            <div class="left-div">
                <div class="image-left" style="background-image: url('assets/images/1_section2_iphone_3.png')"></div>
            </div>
            <div class="right-div">
                <div class="media-list">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="assets/images/slides/1-1-1-section-2-ic-community.png" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <img src="assets/images/slides/community.png" />
                            </h4>
                            <p class="content">Schools across Perth will engage in making and decorating their own trees to enter into the hunt. The Perth community will vote to select 50 trees to form part of the National Treasures hunt and players in the game will find clues across Perth to locate the trees and win prizes!</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="assets/images/slides/1-1-1-section-2-ic-school.png" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <img src="assets/images/slides/schools.png" />
                            </h4>
                            <p class="content">Our amazing creation gives the students of Perth the opportunity to be a part of something life changing. They will develop the very important skills of team work and development, as well as having a fantastic time letting their creative side take over. The winning schools will be donated some incredible prizes such as new sporting equipment, technology upgrades and funding for some unforgettable excursions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ctrl-slide">
        <div class="btn-prev"></div>
        <div class="btn-next"></div>
    </div>
</section>
<!-- Section Two -->
<!-- Section Three -->
<section class="sec-benefits">
    <div class="overlay">
        <div class="section3_subhead">BENEFITS FOR</div>
        <img src="assets/images/yourbusiness.png" />
        <div class="nano">
            <div class="text nano-content">
                <p>The National Treasures Hunt has been designed to connect families, support communities and grow businesses. By nominating your businesses as either a clue or egg location, it will benefit your business by increasing profits and exposure like you wouldn't believe. With an estimated 100-250,000 people guaranteed to visit the business location of your choosing, Imagine the effect this will have on your profits. Our goal is to make you more profit through the four week period of our competition …. than you have made over the last 12 months.</p>
                <p>Thanks to the incredible IT team here at National Treasures we have created a geofencing algorithm, meaning that all of the contestants involved with national treasures are required to step into a 5 metre radius of your business.This means that you’re set to boost brand exposure, explode visitation to your business and increase sales!</p>
                <p>To unlock these benefits for your business simply team up with us to not only make a huge difference with your own business, but to also be involved with something great in our community, which is unique to Perth. The fact that we can help businesses succeed on a much higher level is an incredible feeling. We have never been more excited and look forward to hearing from you in the near future. There are limited spaces available (200) so if you want to be involved with something phenominal contact us to arrange a meeting with our CEO.</p>
            </div>
        </div>
    </div>
</section>
<!-- Section Three -->
<!-- Section Four -->
<section class="sec-aboutus">
    <div>
        <div class="heading-center">
            <h4>
                ABOUT US
            </h4>
            <img class="image-heading" src="assets/images/slides/1_section4_head.png" />
        </div>
        <div class="left-div">
            <div class="image-left" style="background-image: url('assets/images/1-section-4-image.png')"></div>
        </div>
        <div class="right-div">
            <div class="content">
                <p>The National Treasures hunt has been inspired by Australia’s love of modern technology and gaming and fuelled by a desire to reconnect families in today’s digital world.</p>
                <p>This interactive game can be played by people of all ages via their smartphone and is designed to get people out and about in their community.</p>
                <p>Whether players are adventuring solo, with friends, or with family... they are set for the adventure of their life! The prizes you could win are truly mind blowing. What would you do if you find the 50 eggs first and collect the first prize of $100,000, LIFE CHANGING. So strap yourselves in for the ride of your life and as we all know .... you've got to be in it to win in.</p>
                <p>As players progress through the game they will be promoted by our guides to find clues that are needed to locate the 50 virtual eggs hidden around Perth. Imagine the fun you will have doing this with your friends and family. Did we mention it's FREE to play!</p>
                <p>From the entire team at National Treasures we wish you the best of luck and may the best hunter win.</p>
            </div>
        </div>
    </div>
</section>
<!-- Section Four -->
<app-contact-us></app-contact-us>
<section class="sec-menu-footer">
    <div class="company-address">
        <h3>
            Contact Us
        </h3>
        <p>123 Fake street, Perth Western Australia</p>
    </div>
    <div class="company-logo">
        <img class="logo-footer" src="assets/images/logo.png" />
    </div>
    <div class="company-socials">
        <h3>Follow us</h3>
        <ul class="list-socials">
            <!-- <li><a href=""><img src="assets/icons/1-section-6-ic-google-white.svg" /></a></li> -->
            <li>
                <a href="https://www.facebook.com/National-Treasures-112041062815411/">
                    <img src="assets/icons/1-section-6-ic-facebook-white.svg" />
                </a>
            </li>
            <!-- <li><a href=""><img src="assets/icons/1-section-6-ic-twitter-white.svg" /></a></li> -->
            <li>
                <a href="https://www.instagram.com/nationaltreasures_/">
                    <img src="assets/icons/1-section-6-ic-instagram-white.svg" />
                </a>
            </li>
            <!-- <li><a href=""><img src="assets/icons/1-section-6-ic-behance-white.svg" /></a></li> -->
        </ul>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="copywrite">
        <p>© 2017 National Treasures. All rights reserved. Terms & Conditions</p>
    </div>
</footer>
