@heading-center-width: 242px;
@heading-font-size-320: 16px;
header {
    height: 738px;
    background-image: url('/assets/images/1_section1_bg@2x.png');
    background-size: cover;
    background-position: 0px -128px;
    background-repeat: no-repeat;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
    .section1-text-banner {
        margin-top: 128px;
        margin-left: 380px;
        .section1_content {
            width: 533.4px;
            opacity: 0.8;
            font-size: 18.9px;
            line-height: 1.5;
            text-align: left;
            color: #ffffff;
            margin-top: 16px;
        }
    }
}

.sec-carousel {
    min-height: 680px;
    background-image: url('/assets/images/section-2-bg.png');
    background-size: cover;
    position: relative;
    background-color: white;
    .home-carousel {
        height: 100%;
    }
    .owl-carousel .owl-item img {
        width: auto;
    }
    .heading-center {
        margin: 0 auto;
        display: block;
        width: 400px;
        margin-top: 62px;
        .lets-play {
            font-size: 22.6px;
            font-weight: 900;
            text-align: center;
            color: #590909;
            margin-bottom: 6px;
        }
        .image-heading {
            width: auto;
        }
    }
    .left-div {
        width: 50%;
        float: left;
        .image-left {
            width: 251px;
            height: 391.9px;
            float: right;
            margin-top: 62px;
            margin-right: 178px;
            background-size: contain;
        }
    }
    .right-div {
        width: 50%;
        float: right;
        .media-list {
            margin-top: 101px;
            margin-left: 14px;
            .media {
                margin-top: 46px;
                .media-heading {
                    margin-left: 12px;
                    margin-top: 4px;
                }
                .content {
                    margin-left: 16px;
                    margin-top: 12px;
                    width: 385px;
                }
            }
        }
    }
    .ctrl-slide {
        width: 100%;
        position: absolute;
        top: 42.3%;
        z-index: 1;
        padding: 0px 20px;
        .btn-prev,
        .btn-next {
            width: 75px;
            height: 75px;
            cursor: pointer;
        }
        .btn-prev {
            background-image: url('/assets/icons/btn-next-prev.png');
            float: left;
        }
        .btn-next {
            background-image: url('/assets/icons/btn-next-prev.png');
            background-position: 0px 75px;
            float: right;
        }
        .btn-prev:hover {
            background-image: url('/assets/icons/btn-next-prev.png');
            background-position: 79px 0px;
        }
        .btn-next:hover {
            background-image: url('/assets/icons/btn-next-prev.png');
            background-position: -78px 75px;
        }
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 37px;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background-image: url('/assets/icons/dots_slider.png');
        background-position: 0px -1px;
        background-color: transparent;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 11.3px;
        height: 11.3px;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.navbar-header {
    width: 100%;
}

.sign-up-link {
    background-color: transparent !important;
}

.sec-benefits {
    background-image: url('/assets/images/1_section3_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -36px;
    min-height: 661px;
    padding-top: 57px;
    padding-left: 280px;
    .overlay {
        background-image: url('/assets/images/1-section-3-bg-map.png');
        background-size: cover;
        width: 629.1px;
        height: 550px;
        padding-top: 70px;
        padding-left: 104px;
        padding-right: 95px;
        .section3_subhead {
            font-size: 24px;
            font-weight: 900;
            text-align: left;
            color: #590909;
        }
        .nano {
            height: 306px;
        }
        .text {
            opacity: 0.8;
            font-size: 15.1px;
            line-height: 1.44;
            text-align: left;
            color: #590909;            
            // overflow-y: scroll;
            margin-top: 29px;
            p {
                margin: 0 0 16px;
            }
        }
    }
}

.sec-aboutus {
    height: 680px;
    background-image: url('/assets/images/1-section-4-bg.png');
    background-size: cover;
    padding-top: 90px;
    .heading-center {
        margin: 0 auto;
        display: block;
        width: 400px;
    }
    .left-div {
        width: 50%;
        float: left;
        .image-left {
            background-repeat: no-repeat;
            width: 535px;
            height: 349.9px;
            float: right;
            margin-top: 119px;
            margin-right: 49px;
        }
    }
    .right-div {
        width: 50%;
        float: right;
        .content {
            margin-top: 50px;
            margin-left: 20px;
            width: 527px;
            p {
                margin: 0 0 16px;
            }
        }
    }
}

.sec-contactus {
    height: 600px;
    background-image: url('/assets/images/1-section-5-bg.png');
    background-size: cover;
    padding-top: 23px;
    .contact-box {
        background-image: url('/assets/images/1-section-5-bg-map.png');
        background-size: cover;
        width: 648px;
        height: 550px;
        margin: 0 auto;
        padding: 77px 84px;
        text-align: center;
        img.heading-image {
            margin-left: -9px;
            margin-bottom: 43px;
        }
        .btn-submit-form {
            margin-top: 9px;
        }
    }
}

.sec-menu-footer {
    height: 188.7px;
    background-color: #2b1212;
    color: white;
    padding-top: 37.3px;
    position: relative;
    .company-address {
        position: absolute;
        margin-top: 35px;
        left: 18.2%;
        top: 0;
        h3 {
            margin-bottom: 22px;
        }
        p {
            font-size: 16px;
            line-height: 1.44;
        }
    }
    .company-logo {
        text-align: center;
        border-left: 1px solid #3b2424;
        border-right: 1px solid #3b2424;
        height: 113.2px;
        width: 340px;
        margin-left: auto;
        margin-right: auto;
        .logo-footer {
            width: 277.9px;
            margin-top: 26px;
        }
    }
    .company-socials {
        text-align: center;
        position: absolute;
        margin-top: 34px;
        right: 20.2%;
        ;
        top: 0;
        h3 {
            margin-left: 20px;
        }
        ul.list-socials {
            list-style: none;
            cursor: pointer;
            margin-top: 20px;
        }
        ul.list-socials li {
            float: left;
            padding: 0;
            padding-right: 20px;
        }
    }
}

footer {
    height: 154px;
    .copywrite {
        width: 337.8px;
        height: 46px;
        opacity: 0.8;
        font-size: 16px;
        line-height: 1.44;
        text-align: center;
        color: #ffffff;
        margin: 0 auto;
        margin-top: 32px;
    }
}


/* 1440px - <1920px */

@media only screen and (max-width: 1919px) {
    header {
        height: 738px;
        background-image: url('/assets/images/1_section1_bg.png');
        background-size: cover;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        .section1-text-banner {
            margin-top: 128px;
            margin-left: 140px;
            .section1_content {
                width: 533.4px;
                opacity: 0.8;
                font-size: 18.9px;
                line-height: 1.5;
                text-align: left;
                color: #ffffff;
                margin-top: 16px;
            }
        }
    }
    .sec-benefits {
        background-position: 0 0;
        padding-left: 40px;
    }
    .sign-up-link {
        padding-right: 35px !important;
    }
    .sec-carousel {
        .heading-center {
            margin-top: 72px;
        }
        .ctrl-slide {
            top: 45.3%;
        }
        .left-div {
            .image-left {
                margin-top: 34px;
            }
        }
        .owl-theme .owl-nav.disabled+.owl-dots {
            margin-top: 43px;
        }
    }
    .sec-menu-footer {
        .company-address {
            left: 7.2%;
        }
        .company-socials {
            right: 9.8%;
        }
    }
}


/* 1024px - <1439px */

@media only screen and (max-width: 1439px) {
    header {
        background-position: 0px 0px;
        background-repeat: no-repeat;
        .section1-text-banner {
            margin-top: 88px;
            margin-left: 98px;
        }
        .section1-text-banner .section1_content {
            width: 463.4px;
        }
    }
    .sec-carousel {
        .right-div {
            .media-list {
                .media {
                    .content {
                        width: auto;
                        padding-right: 85px;
                    }
                }
            }
        }
    }
    .sec-aboutus .right-div .content {
        width: auto;
    }
    .sign-up-link {
        padding-right: 33px !important;
        margin-top: 7px;
    }
}


/* 768px - <1024px */

@media only screen and (max-width: 1023px) {
    header {
        height: 745px;
        background-image: url('/assets/images/bgImage-720.png');
        overflow: hidden;
        .section1-text-banner {
            margin-top: 88px;
            margin-left: 98px;
        }
        .section1-text-banner .section1_content {
            width: 463.4px;
        }
    }
    .sec-carousel {
        background-image: url('/assets/images/1-section-2-bg-720.png');
        min-height: 720px;
        .heading-center {
            margin-top: 63px;
        }
        .left-div {
            width: 100%;
            .image-left {
                width: 180px;
                height: 283.9px;
                float: right;
                margin-top: 62px;
                margin-right: 270px;
                background-size: cover;
            }
        }
        .right-div {
            width: 100%;
            .media-list {
                margin-top: 68px;
                margin-left: 96px;
                .media {
                    margin-top: 59px;
                }
            }
        }
        .ctrl-slide {
            top: 30.6%;
        }
        .owl-theme .owl-nav.disabled+.owl-dots {
            margin-top: 0px;
            padding-bottom: 26px;
        }
    }
    .sec-benefits {
        min-height: 601px;
        .overlay {
            background-image: url('/assets/images/1-section-3-bg-map-768.png');
            background-size: cover;
            width: 629.1px;
            height: 441px;
            padding-top: 71px;
            padding-left: 60px;
            padding-right: 56px;
        }
    }
    .sec-aboutus {
        min-height: 779px;
        padding-top: 90px;
        .left-div {
            width: 100%;
            .image-left {
                background-repeat: no-repeat;
                background-size: cover;
                width: 378px;
                height: 198.9px;
                margin-left: 175px;
                float: none;
                margin-top: 92px;
                margin-right: 0;
            }
        }
        .right-div {
            width: 100%;
            .content {
                margin-top: 42px;
                margin-left: 98px;
                width: 515px;
            }
        }
    }
    .sec-contactus {
        padding-top: 83px;
        height: auto;
        min-height: 661px;
    }
    .sec-contactus .contact-box {
        .btn-submit-form {
            margin-top: 17px;
        }
    }
    .sec-menu-footer {
        height: 420.7px;
        background-color: #2b1212;
        color: white;
        padding-top: 37.3px;
        position: relative;
        .company-address {
            position: absolute;
            margin-top: 0;
            left: 30.1%;
            top: 162px;
            text-align: center;
            float: right;
        }
        .company-logo {
            text-align: center;
            border-left: none;
            border-right: none;
            height: 113.2px;
            width: 340px;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            bottom: 25px;
            left: 27%;
        }
        .company-socials {
            position: relative;
            margin-top: 0;
            right: 10px;
            top: -2px;
            text-align: center;
            width: 230px;
            margin: 0 auto;
        }
    }
    footer {
        height: 88px;
    }
}


/* <768px */

@media only screen and (max-width: 767px) {
    header {
        height: 441px;
        background-image: url('/assets/images/1-section-1-bg-320.png');
        .section1-text-banner {
            margin-top: 40px;
            margin-left: 16px;
            >img {
                height: 43px;
            }
            .section1_content {
                width: 98%;
                opacity: 0.8;
                font-size: 16px;
                line-height: 1.35;
                margin-top: 27px;
            }
        }
    }
    .sec-carousel {
        background-image: url('/assets/images/1-section-2-bg-320.png');
        .heading-center {
            width: @heading-center-width;
            margin-top: 34px;
            .lets-play {
                font-size: @heading-font-size-320;
            }
            .image-heading {
                width: auto;
                height: 21px;
            }
        }
        .ctrl-slide {
            display: none;
        }
        .left-div {
            .image-left {
                width: 88.5px;
                height: 138.2px;
                float: none;
                margin-top: 40px;
                background-size: cover;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
        .right-div {
            padding-top: 12px;
            .media-list {
                margin-top: -3px;
                margin-left: 12px;
                .media {
                    margin-top: 26px;
                    .media-heading {
                        margin-top: 6px;
                        img {
                            height: 17.5px;
                        }
                    }
                    .content {
                        margin-left: 16px;
                        margin-top: 15px;
                        width: auto;
                        opacity: 0.8;
                        font-size: 14px;
                        line-height: 1.43;
                        padding-right: 10px;
                    }
                }
                .media-object {
                    height: auto;
                    width: 65px;
                }
            }
        }
        .owl-theme .owl-nav.disabled+.owl-dots {
            margin-top: 25px;
            padding-bottom: 68px;
        }
    }
    .sec-benefits {
        padding-left: 0px;
        padding-top: 26px;
        min-height: 520px;
        .overlay {
            background-image: url('/assets/images/1-section-3-bg-320-map.png');
            width: 100%;
            padding-top: 34px;
            padding-left: 17px;
            padding-right: 16px;
            height: 466px;
            .section3_subhead {
                font-size: @heading-font-size-320;
                margin-bottom: 8px;
            }
            >img {
                height: 21px;
            }
            .text {
                font-size: 14px;
                line-height: 1.43;
                margin-top: 40px;
                p {
                    margin: 0 0 14px;
                }
            }
        }
    }
    .sec-aboutus {
        padding-top: 21px;
        min-height: 900px;
        height: auto;
        .heading-center {
            width: @heading-center-width;
            h4 {
                font-size: @heading-font-size-320;
            }
            .image-heading {
                height: 21px;
                margin-top: -10px;
            }
        }
        .left-div {
            .image-left {
                background-repeat: no-repeat;
                background-size: cover;
                width: 237px;
                height: 123.9px;
                margin-left: auto;
                float: none;
                margin-top: 55px;
                margin-right: auto;
            }
        }
        .right-div {
            .content {
                margin-top: 45px;
                margin-left: 0;
                padding-right: 16px;
                padding-left: 16px;
                width: 100%;
                font-size: 14px;
                line-height: 1.43;
                p {
                    margin: 0 0 14px;
                }
            }
        }
    }
    .sec-contactus {
        padding-top: 13px;
        min-height: 523px;
        height: auto;
        .contact-box {
            width: 100%;
            height: 100%;
            padding: 60px 16px;
            padding-bottom: 30px;
            background-image: url('/assets/images/bg-contact-box-320.png');
            img.heading-image {
                margin-left: 0px;
                height: 21px;
                margin-bottom: 38px;
            }
            .form-control {
                font-size: 16px;
                letter-spacing: 0.4px;
            }
             ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                font-size: 16px;
            }
             ::-moz-placeholder {
                /* Firefox 19+ */
                font-size: 16px;
            }
             :-ms-input-placeholder {
                /* IE 10+ */
                font-size: 16px;
            }
             :-moz-placeholder {
                /* Firefox 18- */
                font-size: 16px;
            }
            .btn-submit-form {
                margin-top: 11px;
            }
        }
    }
    .sec-menu-footer {
        height: 362.7px;
        .company-socials {
            h3 {
                font-size: 18px;
                margin-top: 24px;
            }
        }
        .company-address {
            position: absolute;
            margin-top: 0;
            left: 0;
            top: 167px;
            width: 100%;
            text-align: center;
            float: none;
            h3 {
                font-size: 18px;
                margin-bottom: 17px;
                margin-top: 36px;
            }
            p {
                font-size: 11px;
                line-height: 1.27;
            }
        }
        .company-address:before {
            content: '';
            width: 116px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.1);
            margin: 0 auto;
            display: block;
            margin-top: -17px;
        }
        .company-logo {
            width: 100%;
            left: 0;
            bottom: -35px;
            .logo-footer {
                width: auto;
                margin-top: 32px;
                height: 30px;
            }
        }
        .company-logo:before {
            content: '';
            width: 116px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.1);
            margin: 0 auto;
            display: block;
            margin-top: -8px;
        }
    }
    footer {
        height: auto;
        .copywrite {
            width: 240px;
            height: 69px;
            font-size: 11px;
            line-height: 1.27;
            margin-top: 29px;
        }
    }
    .sign-up-link {
        padding-right: 0px !important;
    }
    .sign-up-link img {
        height: 15px !important;
    }
}